Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-01-15 fmt --all -- --check
  stages:
  - pre-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  pass_filenames: false

Add field to CRD
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
  docs/modules/spark-k8s/partials/nav.adoc
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Impl history server
  Cargo.nix
  crate-hashes.json
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/config/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/history/mod.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Add test
  rust/operator-binary/src/history/config/jvm.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

cargo fmt
  rust/operator-binary/src/history/config/jvm.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Implement stuff for SparkApplication
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix: Use spaces
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/history/config/jvm.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Fix tests
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/config/jvm.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Fix endless reconcile loop
  rust/operator-binary/src/crd/history.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

changelog
  CHANGELOG.md
Due: none

docs
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
  rust/operator-binary/src/config/jvm.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Remove unused import
  rust/operator-binary/src/crd/history.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Update error message
  rust/operator-binary/src/history/history_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Update ring because of RUSTSEC-2025-0009
  Cargo.lock
Due: cargo-test

feat: Support configuring JVM arguments (#532)
  CHANGELOG.md
  Cargo.lock
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
  docs/modules/spark-k8s/partials/nav.adoc
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/config/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/history/mod.rs
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump stackable-operator to 0.87.2
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Update changelog
  CHANGELOG.md
Due: none

feat: Handle S3 region (#528)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump Rust dependencies
  Cargo.lock
  Cargo.nix
  Cargo.toml
Due: cargo-test

chore: Run cargo update
  Cargo.lock
  Cargo.nix
Due: cargo-test

chore: Bump Rust dependencies pre-25.3.0 (#533)
  Cargo.lock
  Cargo.nix
  Cargo.toml
Due: cargo-test

chore: update latest spark version to 3.5.5
  CHANGELOG.md
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
  examples/README-examples.md
  examples/ny-tlc-report-1.1.0-3.5.2.jar
  examples/ny-tlc-report-1.1.0-3.5.5.jar
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  tests/test-definition.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

update test jars
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.1.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.5.jar
Due: none

update cargo.lock
  Cargo.lock
Due: cargo-test

update iceberg version
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  tests/templates/kuttl/iceberg/10-deploy-spark-app.yaml.j2
Due: none

Update tests/test-definition.yaml
  tests/test-definition.yaml
Due: none

chore: update latest spark version to 3.5.5 (#534)
  CHANGELOG.md
  Cargo.lock
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
  examples/README-examples.md
  examples/ny-tlc-report-1.1.0-3.5.2.jar
  examples/ny-tlc-report-1.1.0-3.5.5.jar
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  tests/templates/kuttl/iceberg/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.1.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.5.jar
  tests/test-definition.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix: add s3 region to assert step
  tests/templates/kuttl/overrides/06-assert.yaml
Due: none

fix: add s3 region to assert step (#535)
  tests/templates/kuttl/overrides/06-assert.yaml
Due: none

wip
  rust/operator-binary/src/connect/affinity.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/jvm.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/pdb.rs
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

it builds
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/affinity.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/jvm.rs
  rust/operator-binary/src/connect/pdb.rs
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

kuttl test
  Cargo.nix
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  tests/templates/kuttl/spark-connect/00-assert.yaml
  tests/templates/kuttl/spark-connect/00-patch-ns.yaml.j2
  tests/templates/kuttl/spark-connect/00-secrets.yaml.j2
  tests/templates/kuttl/spark-connect/00-serviceaccount.yaml.j2
  tests/templates/kuttl/spark-connect/01-assert.yaml.j2
  tests/templates/kuttl/spark-connect/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/spark-connect/03-assert.yaml
  tests/templates/kuttl/spark-connect/03-setup-minio.yaml
  tests/templates/kuttl/spark-connect/05-s3-connection.yaml.j2
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/certs/ca.crt
  tests/templates/kuttl/spark-connect/certs/client.crt.pem
  tests/templates/kuttl/spark-connect/certs/client.csr.pem
  tests/templates/kuttl/spark-connect/certs/client.key.pem
  tests/templates/kuttl/spark-connect/certs/generate.sh
  tests/templates/kuttl/spark-connect/certs/root-ca.crt.pem
  tests/templates/kuttl/spark-connect/certs/root-ca.crt.srl
  tests/templates/kuttl/spark-connect/certs/root-ca.key.pem
  tests/templates/kuttl/spark-connect/certs/tls.crt
  tests/templates/kuttl/spark-connect/certs/tls.key
  tests/templates/kuttl/spark-connect/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-connect/simple-connect-app.py
  tests/test-definition.yaml
Due: none

chore: Release 25.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: cargo-test

successfully create driver and executors
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  tests/templates/kuttl/spark-connect/00-secrets.yaml.j2
  tests/templates/kuttl/spark-connect/03-assert.yaml
  tests/templates/kuttl/spark-connect/03-setup-minio.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/certs/ca.crt
  tests/templates/kuttl/spark-connect/certs/client.crt.pem
  tests/templates/kuttl/spark-connect/certs/client.csr.pem
  tests/templates/kuttl/spark-connect/certs/client.key.pem
  tests/templates/kuttl/spark-connect/certs/generate.sh
  tests/templates/kuttl/spark-connect/certs/root-ca.crt.pem
  tests/templates/kuttl/spark-connect/certs/root-ca.crt.srl
  tests/templates/kuttl/spark-connect/certs/root-ca.key.pem
  tests/templates/kuttl/spark-connect/certs/tls.crt
  tests/templates/kuttl/spark-connect/certs/tls.key
  tests/templates/kuttl/spark-connect/helm-bitnami-eventlog-minio-values.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Release 25.3.0 (#540)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: cargo-test

use bundled spark-connect jar instead of --package
  rust/operator-binary/src/connect/controller.rs
  tests/templates/kuttl/spark-connect/simple-connect-app.py
Due: cargo-test, cargo-rustfmt, cargo-clippy

Update CHANGELOG.md for release 25.3.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md for release 25.3.0 (#541)
  CHANGELOG.md
Due: none

kuttl test is successful
  rust/operator-binary/src/connect/crd.rs
  tests/templates/kuttl/spark-connect/00-secrets.yaml.j2
  tests/templates/kuttl/spark-connect/03-assert.yaml
  tests/templates/kuttl/spark-connect/03-setup-minio.yaml
  tests/templates/kuttl/spark-connect/05-s3-connection.yaml.j2
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/20-assert.yaml
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-connect/simple-connect-app.py
  tests/test-definition.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

simplify CRD: no roles and no role groups for spark connect servers
  Tiltfile
  rust/operator-binary/src/connect/affinity.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/jvm.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/pdb.rs
  rust/operator-binary/src/crd/mod.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
