Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

Remove leftover property
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: none

fix: use v2 get name/namespace/uid helpers.
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: cleanup product-config left overs & remove allow dead_code
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/roles.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add changelog entry for #696 (#698)
  CHANGELOG.md
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: none

Updating supported-versions.adoc regarding limitations
  docs/modules/spark-k8s/partials/supported-versions.adoc
Due: none

bump op-rs
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Remove support for 3.5.7 and 4.0.1 (#695)
  CHANGELOG.md
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/application.yaml
  docs/modules/spark-k8s/partials/supported-versions.adoc
  tests/test-definition.yaml
Due: none

Option<KeyValueConfigOverrides> -> KeyValueConfigOverrides
  extra/crds.yaml
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

thread metadata through via validated object
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Updating delta-spark in delta-lake integration test
  tests/templates/kuttl/delta-lake/40-spark-app.yaml.j2
Due: none

Updating delta-spark in delta-lake integration test (#699)
  tests/templates/kuttl/delta-lake/40-spark-app.yaml.j2
Due: none

history: add HasName/HasUid and use v2 ownerreference_from_resource in build_config_map
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

history: v2 owner-ref migration for metrics service and statefulset
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

history: hold validated role groups; v2 ResourceNames naming + labels
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/history/service.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

history: build the Vector container via operator-rs v2 (validate-time ValidatedLogging)
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

history: merge role-group config via operator-rs v2 with_validated_config (incl. JVM)
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use v2::builder::pdb::pod_disruption_budget_builder_with_role
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/operations/pdb.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

history: use v2 Port type for the UI and metrics port constants
  rust/operator-binary/src/crd/constants.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

connect: use v2 ownerreference_from_resource and add HasName/HasUid
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump to HDFS 3.5.0
  tests/test-definition.yaml
Due: none

connect: use v2 kvp::label for recommended labels and selectors
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

connect: build the server Vector sidecar via operator-rs v2 (validate-time ValidatedLogging)
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

connect: use v2 cluster_resources_new and Port type
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

job: use v2 ownerreference_from_resource
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: propagate init_containers error instead of panicking
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

job: use v2 vector_container for the logging sidecar
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

job: use v2 recommended_labels
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: use v2 ownerref and labels in shared build_listener
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/listener_ext.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: return PodDisruptionBudget from build_pdb instead of mutating ClusterResources
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/operations/pdb.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: hoist shared typed logging consts into crd::constants
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: share single default_jvm_security_properties helper
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: adopt static vector.yaml and v2 product_logging, removing RoleGroupRef
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/product_logging.rs
  rust/operator-binary/src/product_logging/mod.rs
  rust/operator-binary/src/product_logging/test-vector.sh
  rust/operator-binary/src/product_logging/vector-test.yaml
  rust/operator-binary/src/product_logging/vector.yaml
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(history): build child ObjectMeta via a shared object_meta helper
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/history/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(connect): build child ObjectMeta via a shared object_meta helper
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(job): build child ObjectMeta via a shared object_meta helper
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(connect): use v2 role_utils JavaCommonConfig and apply_to for JVM args
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(job): use v2 role_utils JavaCommonConfig and apply_to for JVM args
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(history): group validated state into ValidatedClusterConfig + ValidatedRoleConfig
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(connect,job): group validated state into ValidatedClusterConfig (+ ValidatedRoleConfig for connect)
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(job): thread ValidatedSparkApplication into init_containers; document the retained raw CR
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
