Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: baa02b0a0c54e0578aae6bb7c7181ad00dc290af # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 3b4bc031619cde2e0a9f3c4441ac7cc8227245a4 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

fix: validate keys in mounted files
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  tests/templates/kuttl/config-overrides/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/overrides/06-assert.yaml
  tests/templates/kuttl/overrides/06-deploy-history-server.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@bcf54b79d402c34fb2648140300f8bf0113ebddb
  .github/workflows/integration-test-profile.yaml
  deploy/helm/spark-k8s-operator/templates/_helpers.tpl
  deploy/helm/spark-k8s-operator/templates/_maintenance.tpl
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/templates/service.yaml
  deploy/helm/spark-k8s-operator/templates/serviceaccount.yaml
Due: none

chore: Namespace the calls to the Helm defined templates
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-history-clusterrole.yaml
Due: none

chore: Update templated files (bcf54b7) (#763)
  .github/workflows/integration-test-profile.yaml
  deploy/helm/spark-k8s-operator/templates/_helpers.tpl
  deploy/helm/spark-k8s-operator/templates/_maintenance.tpl
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  deploy/helm/spark-k8s-operator/templates/service.yaml
  deploy/helm/spark-k8s-operator/templates/serviceaccount.yaml
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-history-clusterrole.yaml
Due: none

fix(test): adapt fixtures and asserts in graceful-shutdown and product-config-compat tests
  tests/templates/kuttl/graceful-shutdown/10-assert.yaml
  tests/templates/kuttl/graceful-shutdown/12-assert.yaml
  tests/templates/kuttl/graceful-shutdown/13-check-driver-shutdown-propagation.yaml
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-driver-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-executor-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-job-template-spec.json
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-server-data.json
Due: none

fix: improve test comment
  tests/templates/kuttl/graceful-shutdown/12-assert.yaml
Due: none

fix: use sparkImage.pullPolicy in all containers
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-job-template-spec.json
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-server-data.json
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update tests/templates/kuttl/graceful-shutdown/12-assert.yaml
  tests/templates/kuttl/graceful-shutdown/12-assert.yaml
Due: none

fix(test): count running executors with jq length
  tests/templates/kuttl/graceful-shutdown/13-check-driver-shutdown-propagation.yaml
Due: none

fix(test): pull the executor listing out of the for loop header
  tests/templates/kuttl/graceful-shutdown/10-assert.yaml
  tests/templates/kuttl/graceful-shutdown/12-assert.yaml
Due: none

fix: make sure hook and command append properly
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: add a note warning about readonly shell variables
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
Due: none

fix: mount spark-env.sh and security.properties (#761)
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  tests/templates/kuttl/config-overrides/00-patch-ns.yaml.j2
  tests/templates/kuttl/config-overrides/01-assert.yaml.j2
  tests/templates/kuttl/config-overrides/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/config-overrides/10-assert.yaml
  tests/templates/kuttl/config-overrides/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/config-overrides/11-assert.yaml
  tests/templates/kuttl/overrides/06-assert.yaml
  tests/templates/kuttl/overrides/06-deploy-history-server.yaml.j2
  tests/templates/kuttl/overrides/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/overrides/11-assert.yaml
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-driver-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-executor-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-job-template-spec.json
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-server-data.json
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use expect where possible and remove unecessary enums/Results
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/history/controller/build/resource/listener.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  tests/templates/kuttl/spark-connect/14-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add panics doc to helper function
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

changelog
  CHANGELOG.md
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@46be1415b2be5de576ec4ddef92b7a864af547b6
  .dockerignore
  .envrc.sample
  .gitattributes
  .github/ISSUE_TEMPLATE/01-normal-issue.md
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/pre-release-getting-started-script.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/actionlint.yaml
  .github/pull_request_template.md
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .gitignore
  .hadolint.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/DO_NOT_EDIT.md
  .yamllint.yaml
  Tiltfile
  deny.toml
  deploy/helm/spark-k8s-operator/templates/NOTES.txt
  nix/sources.nix
  rust-toolchain.toml
  rustfmt.toml
  scripts/auto-retry-tests.py
  scripts/docs_templating.sh
  scripts/ensure_one_trailing_newline.py
  scripts/render_readme.sh
  scripts/run-tests
  scripts/run_tests.sh
  shell.nix
  tests/README-templating.md
  tests/kuttl-test.yaml.jinja2
  tests/templates/.gitkeep
Due: check-readme

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@46be1415b2be5de576ec4ddef92b7a864af547b6 (#767)
  .dockerignore
  .envrc.sample
  .gitattributes
  .github/ISSUE_TEMPLATE/01-normal-issue.md
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/pre-release-getting-started-script.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/actionlint.yaml
  .github/pull_request_template.md
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .gitignore
  .hadolint.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .pylintrc
  .vscode/DO_NOT_EDIT.md
  .yamllint.yaml
  Tiltfile
  deny.toml
  deploy/helm/spark-k8s-operator/templates/NOTES.txt
  nix/sources.nix
  rust-toolchain.toml
  rustfmt.toml
  scripts/auto-retry-tests.py
  scripts/docs_templating.sh
  scripts/ensure_one_trailing_newline.py
  scripts/render_readme.sh
  scripts/run-tests
  scripts/run_tests.sh
  shell.nix
  tests/README-templating.md
  tests/kuttl-test.yaml.jinja2
  tests/templates/.gitkeep
Due: check-readme

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@ca104d68c598a6c38535f154fc74126342825fc4
  .pre-commit-config.yaml
  scripts/check_namespaced_defines.py
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@ca104d68c598a6c38535f154fc74126342825fc4 (#768)
  .pre-commit-config.yaml
  scripts/check_namespaced_defines.py
Due: none

revert expects where checked data is not static/explicit
  CHANGELOG.md
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add comment/test for group_listener_name
  rust/operator-binary/src/history/controller/build/resource/listener.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Consolidate error enums and use expect where possible (#766)
  CHANGELOG.md
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/history/controller/build/resource/listener.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  tests/templates/kuttl/spark-connect/14-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Apply batched suggestions from code review
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
Due: none

addressing review comments
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/s3.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: formatting
  rust/operator-binary/src/connect/controller/build/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: make container name accessor infallible
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add spark.kubernetes.container.image.pullPolicy as user override to test
  tests/templates/kuttl/product-config-compat/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-server-data.json
Due: none

fix previously broken test
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-server-data.json
Due: none

fix: use sparkImage.pullPolicy in all containers (#764)
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  tests/templates/kuttl/product-config-compat/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-job-template-spec.json
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-server-data.json
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

review feedback
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add values.schema.json and document the used values
  deploy/helm/spark-k8s-operator/values.schema.json
  deploy/helm/spark-k8s-operator/values.yaml
Due: none

use name() accessor more consistently
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add values.schema.json and document the used values (#771)
  deploy/helm/spark-k8s-operator/values.schema.json
  deploy/helm/spark-k8s-operator/values.yaml
Due: none

Add docs on appending to extraClassPath
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
Due: none

Readme: fix formatting
  CHANGELOG.md
Due: none

remove the needless
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
Due: none

fix: make container name accessor infallible (#769)
  CHANGELOG.md
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
