Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-05-26 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

fix changelog
  CHANGELOG.md
Due: none

clippy
  rust/operator-binary/src/history/history_controller.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

add history listener service check
  tests/templates/kuttl/spark-history-server/06-assert.yaml
Due: none

fix linter
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-history-server/06-deploy-history-server.yaml.j2
Due: none

fix docs
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
Due: none

Apply suggestions from code review
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

fmt
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

Listener: move listener class to role config (#588)
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/history_controller.rs
  tests/templates/kuttl/custom-log-directory/20-test-logs.yaml
  tests/templates/kuttl/overrides/20-test-logs.yaml
  tests/templates/kuttl/smoke/60-test-logs.yaml
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-history-server/06-assert.yaml
  tests/templates/kuttl/spark-history-server/06-deploy-history-server.yaml.j2
  tests/templates/kuttl/spark-history-server/20-test-logs.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

feat: support for Spark 4
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/hbase-connector/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@e3ffe71decf85f3a9780df44830dc0a588d3d68f
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  Makefile
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  docker/Dockerfile
  nix/sources.json
  rust-toolchain.toml
  scripts/run-tests
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@e3ffe71decf85f3a9780df44830dc0a588d3d68f (#590)
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  Makefile
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  docker/Dockerfile
  nix/sources.json
  rust-toolchain.toml
  scripts/run-tests
Due: none

fix: remove Helm caps queries
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-history-clusterrole.yaml
Due: none

update ny-tlc-report
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.0.jar
Due: none

feat(helm): Add RBAC rule for automatic cluster domain detection
  deploy/helm/spark-k8s-operator/templates/roles.yaml
Due: none

chore: Bump stackable-operator to 0.94.0 and update other dependencies
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Add sparkhistory and shs shortnames
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/crd/history.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump Rust dependencies pre-25.7.0 (#592)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

tests: increase spark-connect test timeout
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/20-assert.yaml
Due: none

tests: increase spark-connect test timeout (#593)
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/20-assert.yaml
Due: none

chore: Release 25.7.0-rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-test

chore: Release 25.7.0-rc1 (#594)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-test

fix the iceberg test
  tests/templates/kuttl/iceberg/10-deploy-spark-app.yaml.j2
  tests/test-definition.yaml
Due: none

chore: Release 25.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-test

chore: Release 25.7.0 (#595)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-test

update supported versions
  docs/modules/spark-k8s/partials/supported-versions.adoc
Due: none

Update CHANGELOG.md from release 25.7.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md from release 25.7.0 (#596)
  CHANGELOG.md
Due: none

update docs, examples, getting started
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
Due: none

skip logging tests for spark 4
  tests/templates/kuttl/logging/05-deploy-history-server.yaml.j2
  tests/templates/kuttl/logging/06-deploy-automatic-log-config-spark-app.yaml.j2
  tests/templates/kuttl/logging/07-deploy-custom-log-config-spark-app.yaml.j2
  tests/templates/kuttl/logging/08-deploy-automatic-log-config-pyspark-app.yaml.j2
  tests/templates/kuttl/logging/09-deploy-custom-log-config-pyspark-app.yaml.j2
  tests/test-definition.yaml
Due: none

fix: Spark-connect test timing issues
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/11-assert.yaml
  tests/templates/kuttl/spark-connect/20-assert.yaml
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: none

Update tests/templates/kuttl/spark-connect/20-assert.yaml
  tests/templates/kuttl/spark-connect/20-assert.yaml
Due: none

Update tests/templates/kuttl/spark-connect/11-assert.yaml
  tests/templates/kuttl/spark-connect/11-assert.yaml
Due: none

added comment about checking executors as well as driver
  rust/operator-binary/src/connect/controller.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

fix: Spark-connect test timing issues (#597)
  rust/operator-binary/src/connect/controller.rs
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/11-assert.yaml
  tests/templates/kuttl/spark-connect/20-assert.yaml
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

chore: update tests to use bitnamilegacy
  kind/minio.yaml
  tests/templates/kuttl/delta-lake/20-setup-minio.yaml
  tests/templates/kuttl/delta-lake/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/logging/02-setup-s3.yaml
  tests/templates/kuttl/logging/helm-bitnami-eventlog-minio-values.yaml
  tests/templates/kuttl/overrides/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/overrides/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/pyspark-ny-public-s3-image/02-setup-minio.yaml
  tests/templates/kuttl/pyspark-ny-public-s3-image/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/pyspark-ny-public-s3/02-setup-minio.yaml
  tests/templates/kuttl/pyspark-ny-public-s3/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/smoke/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/smoke/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-history-server/03-setup-minio.yaml
  tests/templates/kuttl/spark-history-server/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-ny-public-s3/02-setup-minio.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/helm-bitnami-minio-values.yaml.j2
  tests/templates/kuttl/spark-pi-private-s3/03-setup-minio.yaml
  tests/templates/kuttl/spark-pi-private-s3/helm-bitnami-minio-values.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@816ec9955b9d4ddc520e0a05379833f9e0809130
  .readme/partials/borrowed/footer.md.j2
  README.md
  scripts/auto-retry-tests.py
  scripts/run-tests
Due: none

chore: update tests to use bitnamilegacy (#598)
  kind/minio.yaml
  tests/templates/kuttl/delta-lake/20-setup-minio.yaml
  tests/templates/kuttl/delta-lake/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/logging/02-setup-s3.yaml
  tests/templates/kuttl/logging/helm-bitnami-eventlog-minio-values.yaml
  tests/templates/kuttl/overrides/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/overrides/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/pyspark-ny-public-s3-image/02-setup-minio.yaml
  tests/templates/kuttl/pyspark-ny-public-s3-image/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/pyspark-ny-public-s3/02-setup-minio.yaml
  tests/templates/kuttl/pyspark-ny-public-s3/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/smoke/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/smoke/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-history-server/03-setup-minio.yaml
  tests/templates/kuttl/spark-history-server/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-ny-public-s3/02-setup-minio.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/helm-bitnami-minio-values.yaml.j2
  tests/templates/kuttl/spark-pi-private-s3/03-setup-minio.yaml
  tests/templates/kuttl/spark-pi-private-s3/helm-bitnami-minio-values.yaml
Due: none

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
