Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: baa02b0a0c54e0578aae6bb7c7181ad00dc290af # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 3b4bc031619cde2e0a9f3c4441ac7cc8227245a4 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

Update time to fix RUSTSEC-2026-0009
  Cargo.lock
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

update nix
  Cargo.nix
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@7dffd3cfddd8ddb67d0238004b9096feb029a072
  .gitignore
  deny.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@7dffd3cfddd8ddb67d0238004b9096feb029a072 (#654)
  .gitignore
  deny.toml
Due: none

fix: application handling of multiple references to the same SecretClass
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/spark-history-server/00-secrets.yaml.j2
  tests/templates/kuttl/spark-history-server/03-assert.yaml
  tests/templates/kuttl/spark-history-server/03-setup-minio.yaml
  tests/templates/kuttl/spark-history-server/05-s3-connection.yaml.j2
  tests/templates/kuttl/spark-history-server/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-history-server/12-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-minio-values.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Move crds.yaml file
  Makefile
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  extra/crds.yaml
Due: none

chore(helm): Adjust template files
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  deploy/helm/spark-k8s-operator/templates/service.yaml
  deploy/helm/spark-k8s-operator/values.yaml
Due: none

update changelog
  CHANGELOG.md
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

typo
  rust/operator-binary/src/crd/tlscerts.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Apply suggestion from @maltesander
  CHANGELOG.md
Due: none

Apply suggestion from @maltesander
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

manually apply review suggestion
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: application handling of multiple references to the same SecretClass (#655)
  CHANGELOG.md
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/spark-history-server/00-secrets.yaml.j2
  tests/templates/kuttl/spark-history-server/03-assert.yaml
  tests/templates/kuttl/spark-history-server/03-setup-minio.yaml
  tests/templates/kuttl/spark-history-server/05-s3-connection.yaml.j2
  tests/templates/kuttl/spark-history-server/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-history-server/12-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-minio-values.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: Add conversion webhook
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
  rust/operator-binary/src/webhooks/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

add spec.connectors.s3connection and rename buckets property.
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Prepare CRD versioning (#656)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  Makefile
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  deploy/helm/spark-k8s-operator/templates/service.yaml
  deploy/helm/spark-k8s-operator/values.yaml
  extra/crds.yaml
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
  rust/operator-binary/src/webhooks/mod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update test and cleanup
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added unit tests
  rust/operator-binary/src/connect/s3.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added docs
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0fd2a1f7769df93202f555da3afa8723372b462e
  Tiltfile
  shell.nix
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0fd2a1f7769df93202f555da3afa8723372b462e (#657)
  Tiltfile
  shell.nix
Due: none

chore: Bump to stackable-operator 0.106.1
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

docs : fix typo
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

tests: expand test with s3connection
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml.j2
Due: none

chore: Bump to stackable-operator 0.106.1 (#658)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

cargo update after main merge
  Cargo.lock
  Cargo.nix
  extra/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

attempt to silence clippy warning
  rust/operator-binary/src/pod_driver_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add new CRD for application templates
  rust/operator-binary/src/crd/job_dependencies.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/pod_driver_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Apply suggestions from code review
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  rust/operator-binary/src/connect/s3.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/s3.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

extract volumes and mounts to local vars
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add is_truststore_needed
  rust/operator-binary/src/connect/s3.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

reduce unit test verbosity
  rust/operator-binary/src/connect/s3.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor ca secret generation to include metadata annotations
  tests/templates/kuttl/spark-connect/03-minio-tls-ca-secret.yaml
  tests/templates/kuttl/spark-connect/04-minio-secrets.yaml
  tests/templates/kuttl/spark-connect/certs/generate.sh
Due: none

convert SparkApplication to dynamic object
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add S3 support to spark connect (#652)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/pod_driver_controller.rs
  tests/templates/kuttl/spark-connect/03-minio-tls-ca-secret.yaml
  tests/templates/kuttl/spark-connect/04-minio-secrets.yaml
  tests/templates/kuttl/spark-connect/04-minio-users.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect/certs/generate.sh
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Revert "convert SparkApplication to dynamic object"
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added new crd::merger module (not used yet)
  rust/operator-binary/src/crd/merger.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

implement logic to merge application templates
  Cargo.lock
  Cargo.nix
  Cargo.toml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy
