Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: baa02b0a0c54e0578aae6bb7c7181ad00dc290af # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 3b4bc031619cde2e0a9f3c4441ac7cc8227245a4 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

Add changelog
  CHANGELOG.md
Due: none

fix: ownerRef for driver pod, ensuring correct GC cascade (#758)
  CHANGELOG.md
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Point the CRD links at the Stackable Hub
  docs/modules/spark-k8s/pages/index.adoc
  docs/modules/spark-k8s/pages/reference/crds.adoc
  docs/modules/spark-k8s/pages/usage-guide/overrides.adoc
  docs/modules/spark-k8s/partials/nav.adoc
Due: none

feat: Support floating tag in product image selection
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Fix Nix files
  Cargo.nix
  crate-hashes.json
Due: none

chore: Improve and add changelog entries
  CHANGELOG.md
Due: none

chore: Bump rustls to 0.23.45 to negate RUSTSEC-2026-0285
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

feat: Support floating tag in product image selection (#773)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@c9aa93ceceaa1bab213fe5862f34165613152e92
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@c9aa93ceceaa1bab213fe5862f34165613152e92 (#776)
  .github/workflows/build.yaml
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
Due: none

test: Bump ZooKeeper to 3.9.6 in integration test
  tests/test-definition.yaml
Due: none

test: Bump ZooKeeper to 3.9.6 in integration test (#777)
  tests/test-definition.yaml
Due: none

Adapt fixtures and asserts in graceful-shutdown and product-config-compat tests (#765)
  tests/templates/kuttl/graceful-shutdown/10-assert.yaml
  tests/templates/kuttl/graceful-shutdown/12-assert.yaml
  tests/templates/kuttl/graceful-shutdown/13-check-driver-shutdown-propagation.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0be51a185b6d9e66b70f720444ee83f41b2184a2
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0be51a185b6d9e66b70f720444ee83f41b2184a2 (#778)
  .github/workflows/integration-test-custom.yaml
  .github/workflows/integration-test-profile.yaml
Due: none

feat: Add ready endpoint to operator deployment
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add changelog entry
  CHANGELOG.md
Due: none

feat: Add `/ready` endpoint to operator deployment (#779)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@660d65e2f674d2893531f3b91eb5a921beb7e7af
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@660d65e2f674d2893531f3b91eb5a921beb7e7af (#781)
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0f53eecffba74cfb96c8d4635c656edb20a3ac85
  .pre-commit-config.yaml
Due: none

chore: Add typos.toml and fix spelling findings
  CHANGELOG.md
  apps/README.md
  apps/ny_tlc_report.py
  docs/modules/spark-k8s/pages/index.adoc
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  rust/operator-binary/src/connect/controller/build/service.rs
  tests/templates/kuttl/pyspark-ny-public-s3/ny_tlc_report.py
  typos.toml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: Rollout crate/typos for operators (#782)
  .pre-commit-config.yaml
  CHANGELOG.md
  apps/README.md
  apps/ny_tlc_report.py
  docs/modules/spark-k8s/pages/index.adoc
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  rust/operator-binary/src/connect/controller/build/service.rs
  tests/templates/kuttl/pyspark-ny-public-s3/ny_tlc_report.py
  typos.toml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: remove CRD wait workaround from getting started script
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
Due: none

chore: remove CRD wait workaround from getting started script (#783)
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
Due: none

chore: Bump vector aggregator to 0.58.0
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
  tests/templates/kuttl/spark-connect/01-install-vector-aggregator.yaml.j2
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Bump vector aggregator to 0.58.0 (#784)
  CHANGELOG.md
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
  tests/templates/kuttl/spark-connect/01-install-vector-aggregator.yaml.j2
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@fb924df5c043cc95473cd38e6edb187b6e675b0e
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  nix/meta.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@fb924df5c043cc95473cd38e6edb187b6e675b0e (#785)
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  nix/meta.json
Due: none
