Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # 5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 2491238703a5d3415bb2b7ff11388bf775372f29 # 0.10.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: d19233b89771be2d89273f163f5edc5a39bbc34a # 0.11.12
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: 03d0035246f3e81f36aed592ffb4bebf33a03106 # 1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: b3555ba9c2bfd9401e79f2f0da68dd1ae38e10c7 # 2.12.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-05-26 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore: update example to use bitnamilegacy
  kind/minio.yaml
Due: none

Apply suggestions from code review
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b1f99f81b4f841e55710cca7384f5946ce845961
  .readme/partials/borrowed/footer.md.j2
  README.md
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/templates/service.yaml
  scripts/auto-retry-tests.py
  scripts/run-tests
Due: none

Update slab to fix RUSTSEC-2025-0047
  Cargo.lock
Due: regenerate-charts, regenerate-nix, cargo-test

Regenerate nix lockfile
  Cargo.nix
Due: none

chore: Update templated files (b1f99f8) (#602)
  .readme/partials/borrowed/footer.md.j2
  Cargo.lock
  Cargo.nix
  README.md
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/templates/service.yaml
  scripts/auto-retry-tests.py
  scripts/run-tests
Due: regenerate-charts, regenerate-nix, cargo-test

fix: spark connect image pull secrets not passed to executors
  CHANGELOG.md
  rust/operator-binary/src/connect/executor.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: spark connect image pull secrets not passed to executors (#603)
  CHANGELOG.md
  rust/operator-binary/src/connect/executor.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@4db70cd6fb1ac22a7b1a1ba09e91e517701950c5
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/workflows/build.yml
  .github/workflows/general_daily_security.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
Due: none

chore: Cleanup trailing spaces
  .github/ISSUE_TEMPLATE/02-bug_report.yml
Due: none

test: Add new interu config file
  tests/infrastructure.yaml
  tests/interu.yaml
Due: none

ci: Update integration test workflow and action versions (#604)
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/workflows/build.yml
  .github/workflows/general_daily_security.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  tests/infrastructure.yaml
  tests/interu.yaml
Due: none

update supported versions page
  docs/modules/spark-k8s/partials/supported-versions.adoc
Due: none

update changelog
  CHANGELOG.md
Due: none

feat: support for Spark 4 (#589)
  CHANGELOG.md
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/hbase-connector/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/iceberg/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/logging/05-deploy-history-server.yaml.j2
  tests/templates/kuttl/logging/06-deploy-automatic-log-config-spark-app.yaml.j2
  tests/templates/kuttl/logging/07-deploy-custom-log-config-spark-app.yaml.j2
  tests/templates/kuttl/logging/08-deploy-automatic-log-config-pyspark-app.yaml.j2
  tests/templates/kuttl/logging/09-deploy-custom-log-config-pyspark-app.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.0.jar
  tests/test-definition.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update to stackable-operator 0.95.0
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update to stackable-operator 0.95.0 (#605)
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

test: fix spark connect client image
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: none

test: fix spark connect client image (#606)
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@150b3d860a4c49bfef6dafe61d19d1d68b3835e7
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
Due: none

Update package url
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-test

Update package tracing-subscriber
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-test

chore: Update templated files (150b3d8) (#607)
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-test

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@9937fb4bf7f0a067e03a7d61b219375cda334186
  .yamllint.yaml
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

feat(helm): Allow Pod priorityClassName to be configured (#608)
  .yamllint.yaml
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
Due: none

chore: Bump vector version for 25.11.0
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
Due: none

chore: Bump vector version for 25.11.0 (#609)
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
Due: none

remove 3.5.5
  docs/modules/spark-k8s/partials/supported-versions.adoc
  examples/ny-tlc-report-1.1.0-3.5.5.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.5.jar
  tests/test-definition.yaml
Due: none

add 3.5.7
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/partials/supported-versions.adoc
  examples/README-examples.md
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  tests/templates/kuttl/hbase-connector/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.7.jar
  tests/test-definition.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

fix typo
  CHANGELOG.md
Due: none

fix test shutdown
  tests/templates/kuttl/hbase-connector/04-install-hbase.yaml.j2
Due: none

add 4.0.1
  docs/modules/spark-k8s/partials/supported-versions.adoc
  tests/test-definition.yaml
Due: none

use lts version (3.5.7) in documentation
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
Due: none

add sample app built with spark 4.0.1
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.0.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.1.jar
Due: none

update spark 4 notes
  docs/modules/spark-k8s/partials/supported-versions.adoc
Due: none

chore(spark-operator): update versions for 25.11.0 release (#610)
  CHANGELOG.md
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
  examples/README-examples.md
  examples/ny-tlc-report-1.1.0-3.5.5.jar
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  tests/templates/kuttl/hbase-connector/04-install-hbase.yaml.j2
  tests/templates/kuttl/hbase-connector/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.5.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.7.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.0.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.1.jar
  tests/test-definition.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

fix: Prevent missing certificates
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy
