Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

refactor(openlineage): rename the openLineage spec field to lineage
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/lineage.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  tests/templates/kuttl/openlineage/20_spark-app.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: snapshot tests to be Spark image agnostic
  tests/templates/kuttl/smoke/43-assert.yaml.j2
  tests/templates/kuttl/smoke/53-assert.yaml.j2
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
  tests/templates/kuttl/spark-connect/14-assert.yaml.j2
Due: none

moved tests and made them more thorough
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/rbac.rs
  rust/operator-binary/src/history/controller/build/mod.rs
  rust/operator-binary/src/history/controller/build/resource/rbac.rs
  rust/operator-binary/src/history/controller/build/resource/service.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/test_support.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

move object_meta to build step
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/controller/build/service.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/history/controller/build/mod.rs
  rust/operator-binary/src/history/controller/build/resource/service.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/serviceaccount.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

extend test coverage in derived-values tests
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: snapshot tests to be Spark image agnostic (#733)
  tests/templates/kuttl/smoke/43-assert.yaml.j2
  tests/templates/kuttl/smoke/53-assert.yaml.j2
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
  tests/templates/kuttl/spark-connect/14-assert.yaml.j2
Due: none

fix patch ref to main again
  Cargo.toml
Due: regenerate-charts, cargo-doc, cargo-test

refactor: Build RBAC with recommended labels (#727)
  CHANGELOG.md
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/rbac.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/controller/build/service.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/build/mod.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/history/controller/build/resource/mod.rs
  rust/operator-binary/src/history/controller/build/resource/rbac.rs
  rust/operator-binary/src/history/controller/build/resource/service.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/serviceaccount.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
  rust/operator-binary/src/test_support.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore(kuttl): add test for failing spark job
  tests/templates/kuttl/failure-propagation/00-assert.yaml
  tests/templates/kuttl/failure-propagation/00-patch-ns.yaml.j2
  tests/templates/kuttl/failure-propagation/00-serviceaccount.yaml.j2
  tests/templates/kuttl/failure-propagation/01-assert.yaml.j2
  tests/templates/kuttl/failure-propagation/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/failure-propagation/10-deploy-failing-spark-app.yaml.j2
  tests/templates/kuttl/failure-propagation/11-check-phase.yaml
  tests/templates/kuttl/failure-propagation/12-assert.yaml
  tests/test-definition.yaml
Due: none

chore(kuttl): add test for graceful shutdown
  tests/templates/kuttl/graceful-shutdown/00-patch-ns.yaml.j2
  tests/templates/kuttl/graceful-shutdown/01-assert.yaml.j2
  tests/templates/kuttl/graceful-shutdown/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/graceful-shutdown/10-assert.yaml
  tests/templates/kuttl/graceful-shutdown/10-deploy-long-running-app.yaml.j2
  tests/templates/kuttl/graceful-shutdown/11-check-executor-shutdown.yaml
  tests/templates/kuttl/graceful-shutdown/12-assert.yaml
  tests/templates/kuttl/graceful-shutdown/13-check-driver-shutdown-propagation.yaml
  tests/test-definition.yaml
Due: none

chore: cleanups
  tests/templates/kuttl/failure-propagation/00-assert.yaml
  tests/templates/kuttl/failure-propagation/00-serviceaccount.yaml.j2
  tests/templates/kuttl/failure-propagation/12-assert.yaml
  tests/templates/kuttl/graceful-shutdown/11-check-executor-shutdown.yaml
  tests/templates/kuttl/graceful-shutdown/13-check-driver-shutdown-propagation.yaml
Due: none

refactor(openlineage): follow operator-rs transport enum and required namespace
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/lineage.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/openlineage/20_spark-app.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: address review comments
  tests/templates/kuttl/graceful-shutdown/11-check-executor-shutdown.yaml
Due: none

chore: rename failure-propagation to signal-propagation
  tests/templates/kuttl/signal-propagation/00-patch-ns.yaml.j2
  tests/templates/kuttl/signal-propagation/01-assert.yaml.j2
  tests/templates/kuttl/signal-propagation/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/signal-propagation/10-deploy-failing-spark-app.yaml.j2
  tests/templates/kuttl/signal-propagation/11-check-phase.yaml
  tests/templates/kuttl/signal-propagation/12-assert.yaml
  tests/test-definition.yaml
Due: none

docs: add migration instruction for sparkapplicationtemplate resources
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  docs/modules/spark-k8s/pages/usage-guide/upgrade.adoc
  docs/modules/spark-k8s/partials/nav.adoc
Due: none

docs: add migration instruction for sparkapplicationtemplate resources (#736)
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  docs/modules/spark-k8s/pages/usage-guide/upgrade.adoc
  docs/modules/spark-k8s/partials/nav.adoc
Due: none

chore: add vector dimension to make sure post hook is called
  tests/templates/kuttl/signal-propagation/01-assert.yaml.j2
  tests/templates/kuttl/signal-propagation/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/signal-propagation/10-deploy-failing-spark-app.yaml.j2
  tests/templates/kuttl/signal-propagation/11-check-phase.yaml
  tests/test-definition.yaml
Due: none

docs: add section about in transit encryption
  docs/modules/spark-k8s/examples/example-sparkapp-encryption-crypto.yaml
  docs/modules/spark-k8s/pages/usage-guide/encryption-in-transit.adoc
  docs/modules/spark-k8s/pages/usage-guide/security.adoc
  docs/modules/spark-k8s/partials/nav.adoc
Due: none

chore: one does not simply put vector in a dimension
  tests/templates/kuttl/signal-propagation/01-assert.yaml.j2
  tests/templates/kuttl/signal-propagation/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/signal-propagation/10-deploy-failing-spark-app.yaml.j2
  tests/templates/kuttl/signal-propagation/11-check-phase.yaml
  tests/test-definition.yaml
Due: none

chore(kuttl): add test for failing spark job (#735)
  tests/templates/kuttl/graceful-shutdown/00-patch-ns.yaml.j2
  tests/templates/kuttl/graceful-shutdown/01-assert.yaml.j2
  tests/templates/kuttl/graceful-shutdown/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/graceful-shutdown/10-assert.yaml
  tests/templates/kuttl/graceful-shutdown/10-deploy-long-running-app.yaml.j2
  tests/templates/kuttl/graceful-shutdown/11-check-executor-shutdown.yaml
  tests/templates/kuttl/graceful-shutdown/12-assert.yaml
  tests/templates/kuttl/graceful-shutdown/13-check-driver-shutdown-propagation.yaml
  tests/templates/kuttl/signal-propagation/00-patch-ns.yaml.j2
  tests/templates/kuttl/signal-propagation/01-assert.yaml.j2
  tests/templates/kuttl/signal-propagation/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/signal-propagation/10-deploy-failing-spark-app.yaml.j2
  tests/templates/kuttl/signal-propagation/11-check-phase.yaml
  tests/templates/kuttl/signal-propagation/12-assert.yaml
  tests/test-definition.yaml
Due: none

chore: add kuttl test to show in transit encryption
  tests/templates/kuttl/encryption/00-patch-ns.yaml.j2
  tests/templates/kuttl/encryption/01-assert.yaml.j2
  tests/templates/kuttl/encryption/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/encryption/10-assert.yaml
  tests/templates/kuttl/encryption/10-deploy-spark-app.yaml.j2
  tests/test-definition.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@cb967974cac939e2c8e2f8c417b37d05736563ec
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  scripts/auto-retry-tests.py
Due: none

chore: restructure security section
  docs/modules/spark-k8s/pages/usage-guide/security/encryption-in-transit.adoc
  docs/modules/spark-k8s/pages/usage-guide/security/index.adoc
  docs/modules/spark-k8s/partials/nav.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@cb967974cac939e2c8e2f8c417b37d05736563ec (#741)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  scripts/auto-retry-tests.py
Due: none

chore: rename in-transit encryption test
  tests/templates/kuttl/transit-encryption/00-patch-ns.yaml.j2
  tests/templates/kuttl/transit-encryption/01-assert.yaml.j2
  tests/templates/kuttl/transit-encryption/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/transit-encryption/10-assert.yaml
  tests/templates/kuttl/transit-encryption/10-deploy-spark-app.yaml.j2
  tests/test-definition.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@43e2912738d7f00fb3147177c6252e6c6f968f54
  Makefile
  default.nix
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/README.md
  docker/Dockerfile
  nix/meta.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b1c6faac33a20410da088bd01ec1b6393d93b6f1
  Makefile
  default.nix
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/README.md
  docker/Dockerfile
  nix/meta.json
Due: none

docs: add section about in transit encryption (#740)
  docs/modules/spark-k8s/examples/example-sparkapp-encryption-crypto.yaml
  docs/modules/spark-k8s/pages/usage-guide/security/encryption-in-transit.adoc
  docs/modules/spark-k8s/pages/usage-guide/security/index.adoc
  docs/modules/spark-k8s/partials/nav.adoc
  tests/templates/kuttl/transit-encryption/00-patch-ns.yaml.j2
  tests/templates/kuttl/transit-encryption/01-assert.yaml.j2
  tests/templates/kuttl/transit-encryption/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/transit-encryption/10-assert.yaml
  tests/templates/kuttl/transit-encryption/10-deploy-spark-app.yaml.j2
  tests/test-definition.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b1c6faac33a20410da088bd01ec1b6393d93b6f1 (#743)
  Makefile
  default.nix
  deploy/helm/spark-k8s-operator/Chart.yaml
  deploy/helm/spark-k8s-operator/README.md
  docker/Dockerfile
  nix/meta.json
Due: none

chore: runAsNonRoot and fix empty CRD fields
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

cargo fmt
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Application config takes precedence over Template
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  rust/operator-binary/src/crd/template_merger.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: runAsNonRoot and fix empty CRD fields (#744)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Application config takes precedence over Template (#745)
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  rust/operator-binary/src/crd/template_merger.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add apply and update_status for connect server
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/apply.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/update_status.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
