Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@23454aeb350768655bb917a460e9d534d5d3acb9
  scripts/docs_templating.sh
Due: none

fix: Use correct path in docs templating script
  scripts/docs_templating.sh
Due: none

fix: Use operator name in docs templating script (#722)
  scripts/docs_templating.sh
Due: none

refactor!: replace OL config map with host:port fields
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Use operator name in docs templating script (#723)
  scripts/docs_templating.sh
Due: none

feat: support Spark 3.5.8
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add tls field
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Release 26.7.0-rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

feat: harmonise OpenLineage jar name via a stable image symlink
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Bump spin to 0.9.9
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: Bump spin to 0.9.9 (#725)
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

refactor!: use crd::openlineage module from op-rs
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: regenerate-nix ... again
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

feat: support Spark 3 as well
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor!: remove ResolvedOpenLineageAppName struct
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Release 26.7.0-rc1 (#724)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

feat: openlineage.tls now also installs the server CA if necesary
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: add integration test for openlineage events
  tests/templates/kuttl/openlineage/00-assert.yaml
  tests/templates/kuttl/openlineage/00-patch-ns.yaml.j2
  tests/templates/kuttl/openlineage/00-serviceaccount.yaml.j2
  tests/templates/kuttl/openlineage/01-assert.yaml.j2
  tests/templates/kuttl/openlineage/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/openlineage/10-assert.yaml
  tests/templates/kuttl/openlineage/10-install-receiver.yaml.j2
  tests/templates/kuttl/openlineage/10_receiver.yaml.j2
  tests/templates/kuttl/openlineage/20-assert.yaml
  tests/templates/kuttl/openlineage/20-deploy-spark-app.yaml.j2
  tests/templates/kuttl/openlineage/20_spark-app.yaml.j2
  tests/templates/kuttl/openlineage/30-assert.yaml
  tests/test-definition.yaml
Due: none

add authentication with bearer token
  Cargo.lock
  Cargo.nix
  crate-hashes.json
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
  tests/templates/kuttl/openlineage/10_receiver.yaml.j2
  tests/templates/kuttl/openlineage/20_spark-app.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Release 26.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Release 26.7.0 (#728)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

refactor(openlineage): use credentialsSecretName instead of AuthenticationClass
  Cargo.lock
  Cargo.nix
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
  tests/templates/kuttl/openlineage/10_receiver.yaml.j2
  tests/templates/kuttl/openlineage/20_spark-app.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update CHANGELOG.md from release 26.7.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md from release 26.7.0 (#729)
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

refactor: Introduce build aggregator (#721)
  CHANGELOG.md
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/build/mod.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/serviceaccount.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@5c168f338d5b687d1b2b3585f983b65886cfd8be
  .github/ISSUE_TEMPLATE/new_version.md
  .github/ISSUE_TEMPLATE/normal-issue.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/workflows/general_daily_security.yml
  Makefile
  default.nix
  deploy/config-spec/properties.yaml
  deploy/helm/spark-k8s-operator/configs/properties.yaml
  deploy/helm/spark-k8s-operator/templates/configmap.yaml
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  docker/Dockerfile
  scripts/docs_templating.sh
Due: none

fix: docs_templating.sh
  scripts/docs_templating.sh
Due: none

chore: Regenerate Nix files
  Cargo.nix
  crate-hashes.json
Due: none

chore: Update templated files (5c168f3) (#731)
  .github/ISSUE_TEMPLATE/new_version.md
  .github/ISSUE_TEMPLATE/normal-issue.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/workflows/general_daily_security.yml
  Cargo.nix
  Makefile
  crate-hashes.json
  default.nix
  deploy/config-spec/properties.yaml
  deploy/helm/spark-k8s-operator/configs/properties.yaml
  deploy/helm/spark-k8s-operator/templates/configmap.yaml
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  docker/Dockerfile
Due: none

chore: Upgrade stackable-operator to 0.114.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Upgrade stackable-operator to 0.114.0 (#732)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor connect server service account and role binding
  Cargo.toml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/rbac.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor history server service account and role binding, added tests
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/build/mod.rs
  rust/operator-binary/src/history/controller/build/resource/mod.rs
  rust/operator-binary/src/history/controller/build/resource/rbac.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove dead error type
  rust/operator-binary/src/connect/controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

rename resource name functions, remove patch reference
  Cargo.toml
  rust/operator-binary/src/connect/controller/build/rbac.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/history/controller/build/resource/rbac.rs
  rust/operator-binary/src/history/controller/build/resource/service.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(openlineage): adopt job_name field and lineage.stackable.tech API group
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
  tests/templates/kuttl/openlineage/20_spark-app.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

added role/From impl for connect roles plus parsing test
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
