Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

chore: remove non-docs examples folder (#671)
  examples/README-examples.md
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  examples/yellow_tripdata_2021-07.csv
Due: none

chore: Describe RBAC rules, remove unnecessary rules
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-history-clusterrole.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2428552dc3a822ace7e57f2eae68433be7a5fa5e
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@2428552dc3a822ace7e57f2eae68433be7a5fa5e (#675)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Remove the get for customresourcedefinitions for the operator clusterrole
  deploy/helm/spark-k8s-operator/templates/roles.yaml
Due: none

chore: Remove the nodes list/watch rule for the operator clusterrole
  deploy/helm/spark-k8s-operator/templates/roles.yaml
Due: none

fix: Always allow customresourcedefinitions list/watch
  deploy/helm/spark-k8s-operator/templates/roles.yaml
Due: none

chore: Simplify operator clusterrole rule descriptions
  deploy/helm/spark-k8s-operator/templates/roles.yaml
Due: none

chore: Remove unused events rules from the product clusterroles
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-history-clusterrole.yaml
Due: none

chore: Move rbac.authorization.k8s.io next to each other
  deploy/helm/spark-k8s-operator/templates/roles.yaml
Due: none

chore: Remove the security.openshift.io rule from the operator clusterrole
  deploy/helm/spark-k8s-operator/templates/roles.yaml
Due: none

chore: Remove rules from the history clusterrole
  deploy/helm/spark-k8s-operator/templates/spark-history-clusterrole.yaml
Due: none

chore: Remove rules for serviceaccounts for the driver and connect server
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
Due: none

restore: Bring back create events permission for spark driver and connect server
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
Due: none

chore: Simplify docs on spark driver and connect server clusterroles
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
Due: none

remove rules for "events"
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
Due: none

chore: Describe RBAC rules, remove unnecessary rules (#674)
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  deploy/helm/spark-k8s-operator/templates/spark-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-connect-clusterrole.yaml
  deploy/helm/spark-k8s-operator/templates/spark-history-clusterrole.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@d8c4b88106c95760340b425089d9da8232d69af4
  deny.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@d8c4b88106c95760340b425089d9da8232d69af4 (#676)
  deny.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1f730e75a043c740129e68c096c972e93281e1c0
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  Makefile
  Tiltfile
  deny.toml
  deploy/helm/spark-k8s-operator/.helmignore
  deploy/helm/spark-k8s-operator/templates/_helpers.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/values/oci.stackable.tech.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1f730e75a043c740129e68c096c972e93281e1c0 (#677)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  Makefile
  Tiltfile
  deny.toml
  deploy/helm/spark-k8s-operator/.helmignore
  deploy/helm/spark-k8s-operator/templates/_helpers.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/values/oci.stackable.tech.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@a39137cb2a443e27d2ef1ddbfafbc9fddf412b71
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
Due: none

chore(helm): Remove image.repository from values.yaml
  deploy/helm/spark-k8s-operator/values.yaml
Due: none

ci: Fix Helm Chart values file merge order (#678)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  deploy/helm/spark-k8s-operator/values.yaml
Due: none

chore: Upgrade stackable-operator to 0.110.1
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/listener_ext.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/history/service.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Fix all ConfigOverrides structs
  extra/crds.yaml
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/history/config/jvm.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Improve code style
  CHANGELOG.md
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add CRD reference to SparkConnectServer
  docs/modules/spark-k8s/partials/nav.adoc
Due: none

fix: application template merging should not ignore "*Overrides"
  rust/operator-binary/src/crd/template_merger.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

more unit tests for edge cases
  rust/operator-binary/src/crd/template_merger.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: application template merging should not ignore "*Overrides" fields (#680)
  CHANGELOG.md
  rust/operator-binary/src/crd/template_merger.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Comment the usages of SecretClassVolumeProvisionParts
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Upgrade stackable-operator to 0.110.1 (#679)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  docs/modules/spark-k8s/partials/nav.adoc
  extra/crds.yaml
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/listener_ext.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/history/service.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Rust dependency patch level updates
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@6f8308216211cd88a8295b58cf3a781cbca672fa
  Tiltfile
  deploy/helm/spark-k8s-operator/templates/_helpers.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  docker/Dockerfile
  rustfmt.toml
Due: none

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
