Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # 5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/adrienverge/yamllint
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6 # 1.35.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 586c3ea3f51230da42bab657c6a32e9e66c364f0 # 0.44.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 2491238703a5d3415bb2b7ff11388bf775372f29 # 0.10.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 2c8dce6094fa2b4b668e74f694ca63ceffd38614 # 0.9.9
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: 03d0035246f3e81f36aed592ffb4bebf33a03106 # 1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: b3555ba9c2bfd9401e79f2f0da68dd1ae38e10c7 # 2.12.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-01-15 fmt --all -- --check
        stages: [pre-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit]
        pass_filenames: false
        files: \.rs$

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b87916a2ea9c41e5090d8f7bc6a49db5d2758143
  .github/workflows/build.yml
  Makefile
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b87916a2ea9c41e5090d8f7bc6a49db5d2758143 (#558)
  .github/workflows/build.yml
  Makefile
Due: none

Failed attempt to configure history props in the client.
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/logdir.rs
  tests/templates/kuttl/spark-connect/20-connect-client.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

doc: comment on spark history integration
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

Update docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

doc: comment on spark history integration (#559)
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

chore!: Bump stackable-operator to 0.92.0
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: cargo-test

chore: Update changelog
  CHANGELOG.md
Due: none

chore!: Bump stackable-operator to 0.92.0 (#560)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: cargo-test

ci: Remove Nexus from workflow tasks
  .github/workflows/dev_ny-tlc-report.yaml
Due: none

add listener.rs and replace usages of CurrentlySupportedListenerClasses
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/listener.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

expose history pods via listener classes
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/history/history_controller.rs
  tests/templates/kuttl/spark-history-server/06-deploy-history-server.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

expose spark connect pods via listener classes
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

ci: Remove Nexus from workflow tasks (#561)
  .github/workflows/dev_ny-tlc-report.yaml
Due: none

chore: Update helm install commands
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/getting_started/first_steps.adoc
  docs/modules/spark-k8s/pages/getting_started/installation.adoc
  docs/templating_vars.yaml
Due: none

chore: Update helm install commands (#563)
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/getting_started/first_steps.adoc
  docs/modules/spark-k8s/pages/getting_started/installation.adoc
  docs/templating_vars.yaml
Due: none

connect: use persistent volumes for listener and move from deplument to stateful set
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/listener.rs
  tests/templates/kuttl/spark-connect/10-assert.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

history: use persistent columes for listener volumes
  rust/operator-binary/src/history/history_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

history: create group listeners and update crd
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/history_controller.rs
  tests/templates/kuttl/spark-history-server/06-deploy-history-server.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

history: remove services created by the operator and update test
  rust/operator-binary/src/history/history_controller.rs
  tests/templates/kuttl/spark-history-server/20-test-logs.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

connect: create server listeners and update crd
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/listener.rs
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

history: refactor to use listener::build_listener
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/history_controller.rs
  tests/templates/kuttl/spark-history-server/20-test-logs.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

connect: remove traces of deployment
  rust/operator-binary/src/connect/controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

history: refactor rbac as per todo
  rust/operator-binary/src/history/history_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

docs: update
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
Due: none

chore: remove set command to make jenkins test work
  tests/templates/kuttl/spark-connect/10-assert.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Update rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/history.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

doc: mention cluster_config usage status
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

review feedback
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat: expose services with listener classes (#562)
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/pages/usage-guide/listenerclass.adoc
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/listener.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-history-server/06-deploy-history-server.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@60435596ac9b122abd5633d9018ec83d2c7186e2
  .github/ISSUE_TEMPLATE/01-normal-issue.md
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/PULL_REQUEST_TEMPLATE/pre-release-getting-started-script.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/general_daily_security.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  deny.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@60435596ac9b122abd5633d9018ec83d2c7186e2 (#564)
  .github/ISSUE_TEMPLATE/01-normal-issue.md
  .github/ISSUE_TEMPLATE/02-bug_report.yml
  .github/PULL_REQUEST_TEMPLATE/pre-release-getting-started-script.md
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/general_daily_security.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  deny.toml
Due: none

test: Bump vector to 0.46.1
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
Due: none

test: Bump vector to 0.46.1 (#565)
  CHANGELOG.md
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@80d00c488a995bc32a1303adc27ac494c3f0a69f
  .github/workflows/pr_pre-commit.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@80d00c488a995bc32a1303adc27ac494c3f0a69f (#566)
  .github/workflows/pr_pre-commit.yaml
Due: none
