Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: baa02b0a0c54e0578aae6bb7c7181ad00dc290af # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 3b4bc031619cde2e0a9f3c4441ac7cc8227245a4 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

fix(tests): fix test asserts for vector aggregator
  tests/templates/kuttl/smoke/43-assert.yaml.j2
  tests/templates/kuttl/smoke/53-assert.yaml.j2
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
Due: none

fix(connect): add vector aggregator fixes
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
Due: none

test: Bump vector-aggregator to 0.55.0
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
Due: none

test: replace /graphql call with gRPC call
  tests/templates/kuttl/logging/test_log_aggregation.py
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Bump vector to 0.55.0 (#689)
  CHANGELOG.md
  tests/templates/kuttl/logging/01-install-spark-vector-aggregator.yaml
  tests/templates/kuttl/logging/test_log_aggregation.py
Due: none

move TLS check into the validate step
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

thread dereferenced fields through the validated structs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Bump ZooKeeper to 3.9.5 in integration tests
  tests/test-definition.yaml
Due: none

fix: correct error handling for no-tls s3 bucket
  rust/operator-binary/src/crd/logdir.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: remove obsolete tls validation check
  rust/operator-binary/src/crd/logdir.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: extract dereference/validate pipeline from reconcile (#687)
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/dereference.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/dereference.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/history/mod.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
  tests/templates/kuttl/smoke/42-assert.yaml
  tests/templates/kuttl/smoke/43-assert.yaml.j2
  tests/templates/kuttl/smoke/52-assert.yaml
  tests/templates/kuttl/smoke/53-assert.yaml.j2
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/12-assert.yaml
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Bump ZooKeeper to 3.9.5 in integration tests (#690)
  tests/test-definition.yaml
Due: none

feat: remove product-config & clean up
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/config-spec/properties.yaml
  deploy/helm/spark-k8s-operator/configs/properties.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/config/writer.rs
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update op-rs patch
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

add regression test
  tests/templates/kuttl/product-config-compat/00-assert.yaml
  tests/templates/kuttl/product-config-compat/00-patch-ns.yaml.j2
  tests/templates/kuttl/product-config-compat/00-serviceaccount.yaml.j2
  tests/templates/kuttl/product-config-compat/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/product-config-compat/11-assert.yaml
  tests/templates/kuttl/product-config-compat/12-assert.yaml
  tests/templates/kuttl/product-config-compat/README.md
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-driver-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-executor-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-job-template-spec.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-submit-job-data.json
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-executor-data.json
  tests/templates/kuttl/product-config-compat/fixtures/spark-connect-server-data.json
  tests/templates/kuttl/product-config-compat/fixtures/spark-history-node-default-data.json
  tests/test-definition.yaml
Due: none

fix merging properties for the history controller
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/controller.rs
  tests/templates/kuttl/overrides/06-assert.yaml
  tests/templates/kuttl/smoke/43-assert.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

chore: bump Rust edition to 2024 and apply cargo fix + clippy updates
  Cargo.nix
  Cargo.toml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

implement review feedback
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/config/mod.rs
  rust/operator-binary/src/config/writer.rs
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update pull policy in some tests
  tests/templates/kuttl/spark-history-server/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-history-server/12-deploy-spark-app.yaml.j2
Due: none

chore: bump Rust edition to 2024 and apply cargo fix + clippy updates (#691)
  Cargo.nix
  Cargo.toml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
  rust/operator-binary/src/webhooks/conversion.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove shs argument from build_configmap()
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

remove Merge impl for history ConfigOverrides.
  extra/crds.yaml
  rust/operator-binary/src/crd/history.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: make application templates namespaced
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update tests
  tests/templates/kuttl/product-config-compat/fixtures/spark-history-node-default-data.json
  tests/templates/kuttl/smoke/43-assert.yaml.j2
Due: none

fix tests and config overrides merging
  rust/operator-binary/src/history/controller.rs
  tests/templates/kuttl/overrides/06-assert.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

more cleanups
  extra/crds.yaml
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

change namespace type
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

replace owner reference with name and uid
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

validated history: add metadata and impl Resource
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

connect validated: make it in line with the history structure
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Removing and , deprecate , LTS
  docs/modules/spark-k8s/partials/supported-versions.adoc
  tests/test-definition.yaml
Due: none

update changelog.md
  CHANGELOG.md
Due: none

fix: Correctly propage user arguments to Spark connect server
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  rust/operator-binary/src/connect/server.rs
  tests/release.yaml
  tests/templates/kuttl/iceberg/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-connect/04-minio-secrets.yaml.j2
  tests/templates/kuttl/spark-connect/06-assert.yaml
  tests/templates/kuttl/spark-connect/06-install-hive-postgres.yaml
  tests/templates/kuttl/spark-connect/06_helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/spark-connect/07-assert.yaml
  tests/templates/kuttl/spark-connect/07-install-hive.yaml.j2
  tests/templates/kuttl/spark-connect/07_hive.yaml.j2
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

updating productVersion to 4.1.1 since LTS
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/application.yaml
Due: none

update assert
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
Due: none

fix: Correctly propagate user arguments to Spark connect server (#696)
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  rust/operator-binary/src/connect/server.rs
  tests/release.yaml
  tests/templates/kuttl/iceberg/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-connect/04-minio-secrets.yaml.j2
  tests/templates/kuttl/spark-connect/06-assert.yaml
  tests/templates/kuttl/spark-connect/06-install-hive-postgres.yaml
  tests/templates/kuttl/spark-connect/06_helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/spark-connect/07-assert.yaml
  tests/templates/kuttl/spark-connect/07-install-hive.yaml.j2
  tests/templates/kuttl/spark-connect/07_hive.yaml.j2
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Add changelog entry for #696
  CHANGELOG.md
Due: none
