Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

remove tests folder from build action again
  .github/workflows/build.yaml
Due: none

chore: bump versions for 26.3 release (#642)
  CHANGELOG.md
  docs/modules/spark-k8s/partials/supported-versions.adoc
  tests/templates/kuttl/delta-lake/40-spark-app.yaml.j2
  tests/templates/kuttl/iceberg/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/logging/08-deploy-automatic-log-config-pyspark-app.yaml.j2
  tests/templates/kuttl/logging/09-deploy-custom-log-config-pyspark-app.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.6.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.1.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.1.1.jar
  tests/test-definition.yaml
Due: none

Add note about unsupported S3Connection references
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

Add note about unsupported S3Connection references (#643)
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

test: Bump hbase to 2.6.4
  tests/test-definition.yaml
Due: none

test: Bump hbase to 2.6.4 (#645)
  tests/test-definition.yaml
Due: none

fix: so not resubmit jobs in case of failure
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

make it configurable
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix pr no
  CHANGELOG.md
Due: none

change field type
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/roles.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: remove application owner reference from the executor pods
  CHANGELOG.md
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update field description
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/crd/roles.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: remove application owner reference from the executor pods (#648)
  CHANGELOG.md
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Apply suggestions from code review
  CHANGELOG.md
Due: none

fix: garbage collect application driver pods
  CHANGELOG.md
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/spark-examples/11-assert.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Apply suggestions from code review
  rust/operator-binary/src/pod_driver_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add CRD property for retry on failure (#647)
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: bump 3.5.7 to 3.5.8
  CHANGELOG.md
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/application.yaml
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
  examples/README-examples.md
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.7.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.8.jar
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: Add graceful shutdown
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update CRD documentation
  deploy/helm/spark-k8s-operator/crds/crds.yaml
Due: none

chore: Bump bytes crate to 1.11.1
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Bumo git2 crate to 0.20.4
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Add changelog entry
  CHANGELOG.md
Due: none

WIP
  rust/operator-binary/src/connect/crd.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add 3.5.7 back to supported versions
  docs/modules/spark-k8s/partials/supported-versions.adoc
  tests/test-definition.yaml
Due: none

feat: Add graceful shutdown (#651)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add test jars
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.7.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.8.jar
Due: none

fix: garbage collect application driver pods (#649)
  CHANGELOG.md
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/spark-examples/11-assert.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Apply suggestion from @maltesander
  CHANGELOG.md
Due: none

chore: bump 3.5.7 to 3.5.8 (#650)
  CHANGELOG.md
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/application.yaml
  docs/modules/spark-k8s/pages/usage-guide/job-dependencies.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
  examples/README-examples.md
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/history/config/jvm.rs
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.7.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.8.jar
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add s3 props, secret volumes and mounts
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

use higher level functions from op-rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenrate certs for "minio" host update test
  Cargo.nix
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/spark-connect/04-minio-secrets.yaml
  tests/templates/kuttl/spark-connect/04-minio-users.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect/certs/generate.sh
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix boolean path style property
  rust/operator-binary/src/connect/s3.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add connectors field and successfully ran non tls tests
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/s3.rs
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add truststore init container and re-enable tls tests
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/s3.rs
  rust/operator-binary/src/connect/server.rs
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

cleanup
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: none

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
