Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

refactor: remove pod_driver_controller.rs
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: rustfmt
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add spark 4.1.2 (#708)
  CHANGELOG.md
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/application.yaml
  docs/modules/spark-k8s/pages/usage-guide/operations/pod-placement.adoc
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  docs/modules/spark-k8s/partials/supported-versions.adoc
  rust/operator-binary/src/connect/crd.rs
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

bump anyhow to 1.0.103 due to RUSTSEC advisory
  Cargo.lock
  Cargo.nix
  Cargo.toml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

revert block-owner-deletion to original value of None
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: remove spark-ny-public-s3 test as is redundant
  tests/templates/kuttl/spark-ny-public-s3/00-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/00-patch-ns.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/00-secrets.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/00-serviceaccount.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/01-assert.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/02-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/02-setup-minio.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/03-prepare-bucket.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/10-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/certs/ca.crt
  tests/templates/kuttl/spark-ny-public-s3/certs/client.crt.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/client.csr.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/client.key.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/generate.sh
  tests/templates/kuttl/spark-ny-public-s3/certs/root-ca.crt.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/root-ca.crt.srl
  tests/templates/kuttl/spark-ny-public-s3/certs/root-ca.key.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/tls.crt
  tests/templates/kuttl/spark-ny-public-s3/certs/tls.key
  tests/templates/kuttl/spark-ny-public-s3/helm-bitnami-minio-values.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.7.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.8.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.1.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.1.1.jar
  tests/templates/kuttl/spark-ny-public-s3/yellow_tripdata_2021-07.csv
  tests/test-definition.yaml
Due: none

chore: remove spark-ny-public-s3 test as is redundant (#712)
  tests/templates/kuttl/spark-ny-public-s3/00-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/00-patch-ns.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/00-secrets.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/00-serviceaccount.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/01-assert.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/02-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/02-setup-minio.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/03-prepare-bucket.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/10-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/certs/ca.crt
  tests/templates/kuttl/spark-ny-public-s3/certs/client.crt.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/client.csr.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/client.key.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/generate.sh
  tests/templates/kuttl/spark-ny-public-s3/certs/root-ca.crt.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/root-ca.crt.srl
  tests/templates/kuttl/spark-ny-public-s3/certs/root-ca.key.pem
  tests/templates/kuttl/spark-ny-public-s3/certs/tls.crt
  tests/templates/kuttl/spark-ny-public-s3/certs/tls.key
  tests/templates/kuttl/spark-ny-public-s3/helm-bitnami-minio-values.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.7.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-3.5.8.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.0.1.jar
  tests/templates/kuttl/spark-ny-public-s3/ny-tlc-report-1.1.0-4.1.1.jar
  tests/templates/kuttl/spark-ny-public-s3/yellow_tripdata_2021-07.csv
  tests/test-definition.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@a0fd6b5004b95e059d1d3d718f00f1583d18eb08
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@a0fd6b5004b95e059d1d3d718f00f1583d18eb08 (#713)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
Due: none

docs: crds are installed by the operator
  docs/modules/spark-k8s/pages/getting_started/installation.adoc
Due: none

docs: crds are installed by the operator (#714)
  docs/modules/spark-k8s/pages/getting_started/installation.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1cc39b7185f52ae92fd1712629af71b4c5079659
  .github/workflows/build.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Cargo.nix
  nix/sources.json
  rust-toolchain.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1cc39b7185f52ae92fd1712629af71b4c5079659 (#715)
  .github/workflows/build.yaml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Cargo.nix
  nix/sources.json
  rust-toolchain.toml
Due: none

chore: BUmp Rust dependencies
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/serviceaccount.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Bump Rust dependencies pre-26.7.0 (#716)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/serviceaccount.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

tests: better testing of the hbase connectors
  tests/templates/kuttl/hbase-connector/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/product-config-compat/10-deploy-spark-app.yaml.j2
Due: none

bump hbase
  tests/test-definition.yaml
Due: none

update supported versions
  docs/modules/spark-k8s/partials/supported-versions.adoc
Due: none

update fixture
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-driver-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-executor-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-job-template-spec.json
Due: none

tests: better testing of the hbase connectors (#717)
  docs/modules/spark-k8s/partials/supported-versions.adoc
  tests/templates/kuttl/hbase-connector/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/product-config-compat/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-driver-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-executor-pod-template-data.json
  tests/templates/kuttl/product-config-compat/fixtures/pyspark-pi-job-template-spec.json
  tests/test-definition.yaml
Due: none

feat: add basic openlineage support
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  docs/modules/spark-k8s/partials/nav.adoc
  extra/crds.yaml
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Revert "fix: make application templates namespaced (#694)"
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

revert changelog
  CHANGELOG.md
Due: none

update nix crate hashes
  Cargo.nix
  crate-hashes.json
Due: none

Revert "fix: make application templates namespaced (#694)" (#719)
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Reapply "fix: make application templates namespaced (#694)" (#719)
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

Reapply "fix: make application templates namespaced (#694)" (#719) (#720)
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: Introduce build aggregator for SparkApplication
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: Introduce build aggregator for SparkConnectServer
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: Introduce build aggregator for SparkHistoryServer
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/build/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: consolidate error handling
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/serviceaccount.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: consolidate error handling
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/build/mod.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

extract OL structs into openlineage.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/openlineage.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor!: remove openlineage.enabled field
  docs/modules/spark-k8s/pages/usage-guide/openlineage.adoc
  extra/crds.yaml
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/openlineage.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
