Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@6f8308216211cd88a8295b58cf3a781cbca672fa (#682)
  Tiltfile
  deploy/helm/spark-k8s-operator/templates/_helpers.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  docker/Dockerfile
  rustfmt.toml
Due: none

chore: Rust dependency patch level updates (#683)
  Cargo.lock
  Cargo.nix
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

feat: Support dynamic image repositories
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Add placeholder values to satify roundtrip tests
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Wrap SparkApplicationSpec in SparkApplicationTemplateSpec
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Wrap SparkApplicationSpec in SparkApplicationTemplateSpec (#685)
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Add some roundtrip testdata
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

test: Add a bit more fields
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: Support dynamic image repositories (#684)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  extra/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@95539aa636078a936b5c1024c77e7cd7a78ff6be
  Tiltfile
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@95539aa636078a936b5c1024c77e7cd7a78ff6be (#686)
  Tiltfile
Due: none

refactor(app): scaffold dereference and validate submodules
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(app): add dereference module with template/S3/logdir fetch
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(app): add validate module with image + product-config validation
  rust/operator-binary/src/spark_k8s_controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(app): wire reconcile through dereference + validate
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore(history): rename history_controller.rs to controller.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/mod.rs
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(history): scaffold dereference and validate submodules
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/dereference.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(history): add dereference module with log directory fetch
  rust/operator-binary/src/history/controller/dereference.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(history): add validate module with image + product-config validation
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(history): wire reconcile through dereference + validate
  rust/operator-binary/src/history/controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(connect): scaffold dereference and validate submodules
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/dereference.rs
  rust/operator-binary/src/connect/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(connect): add dereference module with S3 connection fetch
  rust/operator-binary/src/connect/controller/dereference.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(connect): add validate module with image + role config resolution
  rust/operator-binary/src/connect/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor(connect): wire reconcile through dereference + validate
  rust/operator-binary/src/connect/controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

style: apply cargo fmt to wired controllers
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: correct error message
  rust/operator-binary/src/history/controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: remove obsolete errors
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: regenerate crate hashes
  Cargo.nix
  crate-hashes.json
Due: none

test(spark-connect): trim 10-assert to bare CR Available wait
  tests/templates/kuttl/spark-connect/10-assert.yaml
Due: none

test(smoke): add SparkHistoryServer resource snapshot assert
  tests/templates/kuttl/smoke/42-assert.yaml
Due: none

test(smoke): add SparkHistoryServer ConfigMap data snapshot
  tests/templates/kuttl/smoke/43-assert.yaml.j2
Due: none

test(smoke): add SparkApplication resource snapshot assert
  tests/templates/kuttl/smoke/52-assert.yaml
Due: none

test(smoke): add SparkApplication ConfigMap data snapshot
  tests/templates/kuttl/smoke/53-assert.yaml.j2
Due: none

test(spark-connect): add SparkConnectServer resource snapshot assert
  tests/templates/kuttl/spark-connect/12-assert.yaml
Due: none

test(spark-connect): add SparkConnectServer ConfigMap data snapshot
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
Due: none

docs: adapt changelog
  CHANGELOG.md
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@96368df17aa9ea9327f18e329bc09d9f53c3ca2b
  .github/workflows/build.yaml
  .readme/partials/borrowed/overview_blurb.md.j2
  README.md
  deploy/helm/spark-k8s-operator/values/quay.io.yaml
Due: check-readme

fix(smoke): improve diff output
  tests/templates/kuttl/smoke/43-assert.yaml.j2
  tests/templates/kuttl/smoke/53-assert.yaml.j2
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
Due: none

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
