Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  - manual
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-01-15 fmt --all -- --check
  stages:
  - pre-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  pass_filenames: false

test: update hbase and zookeeper versions
  tests/test-definition.yaml
Due: none

test passes again
  rust/operator-binary/src/connect/controller.rs
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

move all config to properties file
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

use deployment instead of stateful set
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  rust/operator-binary/src/connect/controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

implement jvm overrides for the connect server
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/connect/controller.rs
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

implement log aggregation
  rust/operator-binary/src/connect/controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

implement pod overrides
  rust/operator-binary/src/connect/controller.rs
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

implement resource requests
  rust/operator-binary/src/connect/crd.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

test: update hbase and zookeeper versions (#544)
  tests/test-definition.yaml
Due: none

test: update hbase and zookeeper versions (#543)
  tests/test-definition.yaml
Due: none

implement cluster operation
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

implement connect server status tracking
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Refactor server related code in its own module.
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

cleanup
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

configure executors with pod templates
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Replace print_startup_string with structured event
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@9b315fb9473b3933500c3c990e0668126637c93e
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/workflows/build.yml
  .vscode/settings.json
  Cargo.nix
  rust-toolchain.toml
  rustfmt.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@f1f1a9e521ab29506e3ea4977df52277c4d161b0
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/workflows/build.yml
  .vscode/settings.json
  Cargo.nix
  rust-toolchain.toml
  rustfmt.toml
Due: none

split configuration between server and executor
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix: rustfmt lint
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

ci: use nightly toolchain for cargo udeps
  .github/workflows/build.yml
Due: none

merge executor pod overrides into pod template
  rust/operator-binary/src/connect/executor.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

implement executor affinity and resource properties
  Cargo.lock
  Cargo.nix
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

bump op-rs to 0.88.0
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: cargo-test

implement user provided command line args for the connect server
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

Revert "ci: use nightly toolchain for cargo udeps"
  .github/workflows/build.yml
Due: none

chore: Update templated files (f1f1a9e) (#549)
  .github/PULL_REQUEST_TEMPLATE/pre-release-rust-deps.md
  .github/workflows/build.yml
  .vscode/settings.json
  Cargo.nix
  rust-toolchain.toml
  rust/operator-binary/src/crd/affinity.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/history/config/jvm.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rustfmt.toml
Due: cargo-test, cargo-rustfmt, cargo-clippy

spark connect usage guide
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  docs/modules/spark-k8s/partials/nav.adoc
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@9c0c77dd60199048b4885a8ac776793c4045f5ca
  .vscode/settings.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@9c0c77dd60199048b4885a8ac776793c4045f5ca (#550)
  .vscode/settings.json
Due: none

feat!: Replace log initialization with stackable-telemetry
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Correct changelog entry
  CHANGELOG.md
Due: none

feat!: Use stackable-telemetry (#547)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

inject vector aggregator address as env into config
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/product_logging.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@8ad056844d17e91e62f8574da12e885fafdfc230
  Cargo.nix
  crate-hashes.json
  nix/README.md
  nix/sources.json
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@8ad056844d17e91e62f8574da12e885fafdfc230 (#552)
  Cargo.nix
  crate-hashes.json
  nix/README.md
  nix/sources.json
Due: none

Path conditions:
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
