Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

check-readme:
  name: check-readme
  language: system
  entry: make render-readme
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  language: system
  entry: cargo doc --document-private-items
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

refactor: move resource builders into controller/build modules and drop redundant params
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/mod.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/controller/build/service.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/build/mod.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/history/controller/build/resource/listener.rs
  rust/operator-binary/src/history/controller/build/resource/mod.rs
  rust/operator-binary/src/history/controller/build/resource/pdb.rs
  rust/operator-binary/src/history/controller/build/resource/service.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/history/mod.rs
  rust/operator-binary/src/history/operations/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/build/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/mod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/serviceaccount.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump to HDFS 3.5.0 (#700)
  tests/test-definition.yaml
Due: none

fix: test should not assume bash-isms
  tests/templates/kuttl/product-config-compat/12-assert.yaml
Due: none

tests: spark connect/kerberos/iceberg integration test
  tests/templates/kuttl/spark-connect-kerberos/00-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/00-patch-ns.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/00-serviceaccount.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/01-assert.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/02-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/02-install-krb5-kdc.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/03-create-kerberos-secretclass.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/03-minio-tls-ca-secret.yaml
  tests/templates/kuttl/spark-connect-kerberos/04-minio-secrets.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/05-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/05-minio.yaml
  tests/templates/kuttl/spark-connect-kerberos/06-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/06-install-hive-postgres.yaml
  tests/templates/kuttl/spark-connect-kerberos/06_helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/07-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/07-install-hive.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/07_hive.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/10-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/10-install-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/10_spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/11-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/12-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/20-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/certs/generate.sh
  tests/templates/kuttl/spark-connect-kerberos/helm-bitnami-minio-values.yaml.j2
  tests/test-definition.yaml
Due: none

Add comment about spark.addArtifact()
  tests/templates/kuttl/spark-connect-kerberos/10_spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/20-run-connect-client.yaml.j2
Due: none

Update docs
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

Update test and docs to mention that only Spark 3 is affected
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  tests/templates/kuttl/spark-connect-kerberos/20-run-connect-client.yaml.j2
Due: none

docs: Fix SparkApplication CRD description
  CHANGELOG.md
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: Fix SparkApplication CRD description (#705)
  CHANGELOG.md
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

bump op-rs to 0.112
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: use v2 prometheus annotations and label helper
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/controller/build/service.rs
  rust/operator-binary/src/history/controller/build/resource/service.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: use v2 container builder
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: consolidate logging, remove errors
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/history/controller.rs
  rust/operator-binary/src/history/controller/build/resource/config_map.rs
  rust/operator-binary/src/product_logging/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: switch to v2 ListenerClassName
  extra/crds.yaml
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/listener_ext.rs
  rust/operator-binary/src/history/controller/build/resource/listener.rs
  rust/operator-binary/src/history/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: switch vector config map name to ConfigMapName v2 type
  extra/crds.yaml
  rust/operator-binary/src/connect/controller/validate.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller/validate.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: switch internal constants to VolumeName
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/controller/build/resource/statefulset.rs
  rust/operator-binary/src/spark_k8s_controller/build/pod.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/config_map.rs
  rust/operator-binary/src/spark_k8s_controller/build/resource/job.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: validate config overrides upfront
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
  rust/operator-binary/src/connect/controller/build/service.rs
  rust/operator-binary/src/connect/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: remove redundant parameters from Validated* structs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/build/server.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: consolidate logging for connect
  rust/operator-binary/src/connect/controller/build/executor.rs
  rust/operator-binary/src/connect/controller/validate.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs: consolidate upstream / v2 comments
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: make application templates namespaced (#694)
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: bump tokio 1.52, clap 4.6
  Cargo.toml
Due: regenerate-charts, cargo-doc, cargo-test

fix: remove vector file tests
  rust/operator-binary/src/product_logging/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: consolidate vector logging, adapt snapshot tests, add executor logging test
  rust/operator-binary/src/product_logging/vector.yaml
  tests/templates/kuttl/smoke/43-assert.yaml.j2
  tests/templates/kuttl/smoke/53-assert.yaml.j2
  tests/templates/kuttl/spark-connect/01-assert.yaml.j2
  tests/templates/kuttl/spark-connect/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/spark-connect/01-install-vector-aggregator.yaml.j2
  tests/templates/kuttl/spark-connect/13-assert.yaml.j2
  tests/templates/kuttl/spark-connect/50-assert.yaml.j2
  tests/templates/kuttl/spark-connect/50-test-log-aggregation.yaml.j2
  tests/templates/kuttl/spark-connect/spark-connect-vector-aggregator-values.yaml.j2
  tests/templates/kuttl/spark-connect/test_log_aggregation.py
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@f971d110628426e7947a504a9dbbd965e6bb1571
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .readme/partials/borrowed/overview_blurb.md.j2
  README.md
  deny.toml
  deploy/helm/spark-k8s-operator/values/quay.io.yaml
  renovate.json
Due: check-readme

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@de9087593070643c9a16ca5b147338a84b0eeb89
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .readme/partials/borrowed/overview_blurb.md.j2
  README.md
  deny.toml
  deploy/helm/spark-k8s-operator/values/quay.io.yaml
  renovate.json
Due: check-readme

Adding 4.1.2 to supported versions
  docs/modules/spark-k8s/examples/example-history-app.yaml
  docs/modules/spark-k8s/examples/example-history-server.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-configmap.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-image.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-pvc.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-s3-private.yaml
  docs/modules/spark-k8s/examples/example-sparkapp-streaming.yaml
  docs/modules/spark-k8s/examples/getting_started/application.yaml
  docs/modules/spark-k8s/pages/usage-guide/operations/pod-placement.adoc
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  rust/operator-binary/src/connect/crd.rs
  tests/templates/kuttl/delta-lake/40-spark-app.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Update Changelog and LTS version for 26.7
  CHANGELOG.md
  docs/modules/spark-k8s/partials/supported-versions.adoc
Due: none

Typo and remove test leftover
  docs/modules/spark-k8s/partials/supported-versions.adoc
  tests/templates/kuttl/delta-lake/40-spark-app.yaml.j2
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@de9087593070643c9a16ca5b147338a84b0eeb89 (#707)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .readme/partials/borrowed/overview_blurb.md.j2
  README.md
  deny.toml
  deploy/helm/spark-k8s-operator/values/quay.io.yaml
  renovate.json
Due: check-readme

fix: forgot CHANGELOG entry for #694
  CHANGELOG.md
Due: none

fix: forgot CHANGELOG entry for #694 (#709)
  CHANGELOG.md
Due: none

tests: spark connect/kerberos/iceberg integration test (#704)
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  tests/templates/kuttl/spark-connect-kerberos/00-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/00-patch-ns.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/00-serviceaccount.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/01-assert.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/02-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/02-install-krb5-kdc.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/03-create-kerberos-secretclass.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/03-minio-tls-ca-secret.yaml
  tests/templates/kuttl/spark-connect-kerberos/04-minio-secrets.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/05-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/05-minio.yaml
  tests/templates/kuttl/spark-connect-kerberos/06-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/06-install-hive-postgres.yaml
  tests/templates/kuttl/spark-connect-kerberos/06_helm-bitnami-postgresql-values.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/07-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/07-install-hive.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/07_hive.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/10-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/10-install-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/10_spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/11-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/12-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/20-assert.yaml
  tests/templates/kuttl/spark-connect-kerberos/20-run-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect-kerberos/certs/generate.sh
  tests/templates/kuttl/spark-connect-kerberos/helm-bitnami-minio-values.yaml.j2
  tests/test-definition.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0c1421a8f76ce80a7ee47a92cef531a6edcaeccd
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  scripts/docs_templating.sh
Due: none

ci: Fix env var interpolation
  .github/workflows/build.yaml
Due: none

ci: Harden workflows (#710)
  .github/workflows/build.yaml
  .github/workflows/integration-test.yml
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  scripts/docs_templating.sh
Due: none

Claude done the thing
  CHANGELOG.md
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/pages/getting_started/first_steps.adoc
  docs/modules/spark-k8s/pages/usage-guide/examples.adoc
  extra/crds.yaml
  rust/operator-binary/src/config/jvm.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/spark_k8s_controller/dereference.rs
  rust/operator-binary/src/spark_k8s_controller/validate.rs
  rust/operator-binary/src/webhooks/conversion.rs
  tests/templates/kuttl/overrides/10-assert.yaml
  tests/templates/kuttl/overrides/11-assert.yaml
  tests/templates/kuttl/resources/10-assert.yaml.j2
  tests/templates/kuttl/resources/12-assert.yaml.j2
  tests/templates/kuttl/smoke/50-assert.yaml
  tests/templates/kuttl/smoke/52-assert.yaml
  tests/templates/kuttl/smoke/53-assert.yaml.j2
  tests/test-definition.yaml
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: deprecate application spec.mode
  CHANGELOG.md
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/crd/template_merger.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

refactor: update kuttl tests
  tests/templates/kuttl/resources/10-assert.yaml.j2
  tests/templates/kuttl/resources/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/resources/12-assert.yaml.j2
  tests/templates/kuttl/resources/12-deploy-spark-app.yaml.j2
  tests/templates/kuttl/smoke/50-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-examples/10-assert.yaml
  tests/templates/kuttl/spark-examples/10-deploy-spark-app.yaml.j2
Due: none

fix: regression
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  check-readme: any of: .readme, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-doc: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
