Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

regenerate-charts:
  name: regenerate-charts
  language: system
  entry: make regenerate-charts
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

regenerate-nix:
  name: regenerate-nix
  language: system
  entry: make regenerate-nix
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-05-26 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

changelog
  CHANGELOG.md
Due: none

test: Increase timeouts
  tests/templates/kuttl/delta-lake/40-assert.yaml
  tests/templates/kuttl/iceberg/10-assert.yaml.j2
  tests/templates/kuttl/overrides/06-assert.yaml
  tests/templates/kuttl/overrides/10-assert.yaml
  tests/templates/kuttl/resources/10-assert.yaml.j2
  tests/templates/kuttl/resources/12-assert.yaml.j2
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/10-assert.yaml
Due: none

chore: Bump hadoop to 3.4.2 prior to 25.11
  tests/test-definition.yaml
Due: none

fix: Prevent missing certificates (#611)
  CHANGELOG.md
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/tlscerts.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/delta-lake/40-assert.yaml
  tests/templates/kuttl/iceberg/10-assert.yaml.j2
  tests/templates/kuttl/overrides/06-assert.yaml
  tests/templates/kuttl/overrides/10-assert.yaml
  tests/templates/kuttl/resources/10-assert.yaml.j2
  tests/templates/kuttl/resources/12-assert.yaml.j2
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-ny-public-s3/10-assert.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump hadoop to 3.4.2 prior to 25.11 (#612)
  tests/test-definition.yaml
Due: none

chore: Bump zookeeper version for 25.11.0
  tests/templates/kuttl/delta-lake/40-assert.yaml
  tests/test-definition.yaml
Due: none

chore: Bump zookeeper version for 25.11.0 (#613)
  tests/test-definition.yaml
Due: none

bump hbase to 2.6.3
  tests/test-definition.yaml
Due: none

bump hbase to 2.6.3 (#614)
  tests/test-definition.yaml
Due: none

feat: Add EoS checker
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

chore: Update schema descriptions in CRD
  deploy/helm/spark-k8s-operator/crds/crds.yaml
Due: none

chore: Add changelog entry
  CHANGELOG.md
Due: none

chore: Udpate changelog entry
  CHANGELOG.md
Due: none

spark apps: remove SA command line argument
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/overrides/10-deploy-spark-app.yaml.j2
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

fix spelling
  CHANGELOG.md
Due: none

add SA assert
  tests/templates/kuttl/overrides/11-assert.yaml
Due: none

fix typo
  tests/templates/kuttl/overrides/11-assert.yaml
Due: none

fix last typo (i promise)
  tests/templates/kuttl/overrides/11-assert.yaml
Due: none

fix: allow overriding of application service account (#617)
  CHANGELOG.md
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/overrides/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/overrides/11-assert.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

fix examples
  examples/README-examples.md
  kind/assert-pvc-jars.yaml
  kind/kind-pvc.yaml
  kind/minio.yaml
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/history/mod.rs
  rust/operator-binary/src/history/service.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

adapted changelog
  CHANGELOG.md
Due: none

add metrics service for spark connect
  CHANGELOG.md
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

fix comment
  rust/operator-binary/src/connect/controller.rs
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

precommit
  apps/ny_tlc_report.py
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/logging/test_log_aggregation.py
  tests/templates/kuttl/pyspark-ny-public-s3/ny_tlc_report.py
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

add metrics test for the history server
  tests/templates/kuttl/spark-history-server/30-assert.yaml
  tests/templates/kuttl/spark-history-server/30-install-test-container.yaml
Due: none

add metrics test for connect server
  tests/templates/kuttl/spark-connect/40-assert.yaml
  tests/templates/kuttl/spark-connect/40-install-test-container.yaml
Due: none

add test for connect executor metrics
  tests/templates/kuttl/spark-connect/40-install-test-container.yaml
Due: none

update docs
  docs/modules/spark-k8s/pages/usage-guide/history-server.adoc
  docs/modules/spark-k8s/pages/usage-guide/operations/applications.adoc
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

chore: ensure metrics are correctly exposed (#619)
  CHANGELOG.md
  apps/ny_tlc_report.py
  docs/modules/spark-k8s/pages/usage-guide/history-server.adoc
  docs/modules/spark-k8s/pages/usage-guide/operations/applications.adoc
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  examples/README-examples.md
  kind/assert-pvc-jars.yaml
  kind/kind-pvc.yaml
  kind/minio.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/connect/service.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/history/mod.rs
  rust/operator-binary/src/history/service.rs
  tests/templates/kuttl/logging/test_log_aggregation.py
  tests/templates/kuttl/pyspark-ny-public-s3/ny_tlc_report.py
  tests/templates/kuttl/spark-connect/40-assert.yaml
  tests/templates/kuttl/spark-connect/40-install-test-container.yaml
  tests/templates/kuttl/spark-history-server/30-assert.yaml
  tests/templates/kuttl/spark-history-server/30-install-test-container.yaml
Due: regenerate-charts, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b85dfd3f41085a3cff3a518c7658c7eede378550
  .github/workflows/integration-test.yml
  Tiltfile
  deploy/helm/spark-k8s-operator/templates/_maintenance.tpl
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@b85dfd3f41085a3cff3a518c7658c7eede378550 (#620)
  .github/workflows/integration-test.yml
  Tiltfile
  deploy/helm/spark-k8s-operator/templates/_maintenance.tpl
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@e569102f2cb04490805bfa485d3e59d4736b18a4
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  rust-toolchain.toml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@e569102f2cb04490805bfa485d3e59d4736b18a4 (#621)
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  rust-toolchain.toml
Due: none

chore: Bump Rust dependencies pre-25.11.0
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

fix: Use patched kube version
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
Due: regenerate-charts, regenerate-nix, cargo-test

feat: Add EoS checker (#615)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump Rust dependencies pre-25.11.0 (#622)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-test

docs: getting started updates
  docs/modules/spark-k8s/examples/getting_started/application.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/pages/getting_started/first_steps.adoc
Due: none

Path conditions:
  regenerate-charts: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  regenerate-nix: any of: Cargo\.lock, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-rustfmt: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
  cargo-clippy: any of: \.rs$, but not: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$
