Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: regenerate-charts, regenerate-nix, check-readme, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/EmbarkStudios/cargo-deny
    # Failing to compile cargo-deny with version >0.18.3, needs rust 1.88.0
    rev: baa02b0a0c54e0578aae6bb7c7181ad00dc290af # 0.18.3
    hooks:
      - id: cargo-deny
        args: ["--all-features", "check", "advisories", "bans", "licenses", "sources"]

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 3b4bc031619cde2e0a9f3c4441ac7cc8227245a4 # 0.14.1
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: regenerate-nix
        name: regenerate-nix
        language: system
        entry: make regenerate-nix
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: Cargo\.lock

      - id: check-readme
        name: check-readme
        language: system
        entry: make render-readme
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: .readme

      - id: cargo-doc
        name: cargo-doc
        language: system
        entry: cargo doc --document-private-items
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

fix(tests): Helm 4 compatability
  tests/templates/kuttl/overrides/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/overrides/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/smoke/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/smoke/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/helm-bitnami-minio-values.yaml.j2
Due: none

update application result fields and implement onCreate update strategy
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

dev docs, op tracing and more unit tests
  rust/operator-binary/src/crd/merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

register new CRD with webhook, update helm templates, successfully run kuttl tests
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  extra/crds.yaml
  rust/operator-binary/src/crd/merger.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/webhooks/conversion.rs
  tests/templates/kuttl/spark-history-server/08-deploy-spark-app-template.yaml.j2
  tests/templates/kuttl/spark-history-server/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-history-server/12-deploy-spark-app.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

user docs
  CHANGELOG.md
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  docs/modules/spark-k8s/partials/nav.adoc
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

cosmetics: rename module for clarity
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@dc62e956d3d1f304c43dbd870b3f0ede036cda25 (#662)
  .github/workflows/build.yaml
  .github/workflows/pr_pre-commit.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Cargo.nix
  docker/Dockerfile
  nix/sources.json
  rust-toolchain.toml
Due: none

Apply suggestions from code review
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
Due: none

update docs
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
Due: none

fix clippy warnings
  rust/operator-binary/src/crd/mod.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

feat: add support for application templates (#660)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/pages/usage-guide/app_templates.adoc
  docs/modules/spark-k8s/partials/nav.adoc
  extra/crds.yaml
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/crd/job_dependencies.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/crd/template_spec.rs
  rust/operator-binary/src/main.rs
  rust/operator-binary/src/pod_driver_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  rust/operator-binary/src/webhooks/conversion.rs
  tests/templates/kuttl/spark-history-server/08-deploy-spark-app-template.yaml.j2
  tests/templates/kuttl/spark-history-server/10-deploy-spark-app.yaml.j2
  tests/templates/kuttl/spark-history-server/12-deploy-spark-app.yaml.j2
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix(tests): Helm 4 compatability (#661)
  tests/templates/kuttl/overrides/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/overrides/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/smoke/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/smoke/helm-bitnami-minio-values.yaml
  tests/templates/kuttl/spark-connect/helm-bitnami-minio-values.yaml.j2
  tests/templates/kuttl/spark-history-server/helm-bitnami-eventlog-minio-values.yaml.j2
  tests/templates/kuttl/spark-ny-public-s3/helm-bitnami-minio-values.yaml.j2
Due: none

chore: Bump Rust dependencies
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Update changelog
  CHANGELOG.md
Due: none

chore: Bump Rust dependencies (#663)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

fix: add missing job affinity field to spark applications
  .pre-commit-config.yaml
  docs/modules/spark-k8s/pages/usage-guide/operations/pod-placement.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

add more unit tests
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/template_merger.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

updated integration test
  Cargo.nix
  crate-hashes.json
  tests/templates/kuttl/spark-examples/10-assert.yaml
  tests/templates/kuttl/spark-examples/10-deploy-spark-app.yaml.j2
Due: none

add changelog
  .pre-commit-config.yaml
  CHANGELOG.md
Due: none

revert pre-commit configuration
  .pre-commit-config.yaml
Due: none

more user docs
  docs/modules/spark-k8s/pages/usage-guide/operations/pod-placement.adoc
Due: none

fix: add missing job affinity field to spark applications (#664)
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  docs/modules/spark-k8s/pages/usage-guide/operations/pod-placement.adoc
  extra/crds.yaml
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/crd/roles.rs
  rust/operator-binary/src/crd/template_merger.rs
  rust/operator-binary/src/spark_k8s_controller.rs
  tests/templates/kuttl/spark-examples/10-assert.yaml
  tests/templates/kuttl/spark-examples/10-deploy-spark-app.yaml.j2
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0a53faeec74f855d80f7a8b40635e8c340d25696
  .pre-commit-config.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@0a53faeec74f855d80f7a8b40635e8c340d25696 (#665)
  .pre-commit-config.yaml
Due: none

fix: Bump stackable-operator for delayed controller functionality
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Use delayed controllers
  CHANGELOG.md
  Cargo.nix
  crate-hashes.json
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  rust/operator-binary/src/main.rs
Due: regenerate-charts, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

fix: Bump stackable-operator for delayed controller functionality (#666)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  rust/operator-binary/src/main.rs
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test, cargo-rustfmt, cargo-clippy

docs(getting_started): Sleep until CRD is installed
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
Due: none

wait for job to finish and remove doc references to the driver pod
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/images/getting_started/spark_log.png
  docs/modules/spark-k8s/pages/getting_started/first_steps.adoc
Due: none

fix(docs): Update getting-started script pre-26.3.0 (#667)
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh.j2
  docs/modules/spark-k8s/images/getting_started/spark_log.png
  docs/modules/spark-k8s/pages/getting_started/first_steps.adoc
Due: none

chore: Release 26.3.0-rc1
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Release 26.3.0-rc1 (#670)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/antora.yml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  extra/crds.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: remove non-docs examples folder
  examples/README-examples.md
  examples/ny-tlc-report-external-dependencies.yaml
  examples/ny-tlc-report-image.yaml
  examples/ny-tlc-report.yaml
  examples/yellow_tripdata_2021-07.csv
Due: none

chore: Release 26.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

chore: Release 26.3.0 (#672)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  deploy/helm/spark-k8s-operator/Chart.yaml
  docs/modules/spark-k8s/examples/getting_started/getting_started.sh
  docs/modules/spark-k8s/examples/getting_started/install_output.txt
  docs/templating_vars.yaml
  tests/release.yaml
Due: regenerate-charts, regenerate-nix, cargo-doc, cargo-test

Update CHANGELOG.md from release 26.3.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md from release 26.3.0 (#673)
  CHANGELOG.md
Due: none
