Repository stackabletech/spark-k8s-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
exclude: ^(Cargo\.nix|crate-hashes\.json|nix/.*)$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b # 5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/adrienverge/yamllint
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6 # 1.35.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 586c3ea3f51230da42bab657c6a32e9e66c364f0 # 0.44.0
    hooks:
      - id: markdownlint
        types: [text]
        files: \.md(\.j2)*$

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 2491238703a5d3415bb2b7ff11388bf775372f29 # 0.10.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 2c8dce6094fa2b4b668e74f694ca63ceffd38614 # 0.9.9
    hooks:
      # Run the linter.
      - id: ruff
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: 03d0035246f3e81f36aed592ffb4bebf33a03106 # 1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: b3555ba9c2bfd9401e79f2f0da68dd1ae38e10c7 # 2.12.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: regenerate-charts
        name: regenerate-charts
        language: system
        entry: make regenerate-charts
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-01-15 fmt --all -- --check
        stages: [pre-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit]
        pass_filenames: false
        files: \.rs$

fix: Use `json` file extension for log files
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Use `json` file extension for log files (#553)
  CHANGELOG.md
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Use borrows
  rust/operator-binary/src/spark_k8s_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Add todo comments on unwraps
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat: Inject vector aggregator address as env into vector config (#551)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/crd/logdir.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/product_logging.rs
  rust/operator-binary/src/spark_k8s_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Bump stackable-operator and use re-exports
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Use borrows
  rust/operator-binary/src/history/history_controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat!: Use `Tracing::pre_configured` from stackable-telemetry
  Cargo.lock
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: cargo update && make regenerate-nix
  Cargo.lock
  Cargo.nix
  crate-hashes.json
Due: cargo-test

chore: Revert stackable-operator crate patch
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
Due: cargo-test

feat!: Use `Tracing::pre_configured` from stackable-telemetry (#554)
  CHANGELOG.md
  Cargo.lock
  Cargo.nix
  Cargo.toml
  crate-hashes.json
  rust/operator-binary/Cargo.toml
  rust/operator-binary/src/crd/history.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/history/history_controller.rs
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

update readme and fix typo
  CHANGELOG.md
  Tiltfile
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
Due: none

Apply suggestions from code review
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/executor.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

remove duplicate constant
  rust/operator-binary/src/connect/common.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

cleanup, liveliness probe, do not use the iceberg test for now
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

GRPC and HTTP constants
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

expose prometheus metrics
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/constants.rs
  tests/test-definition.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

rename argument
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix main merge problems
  Cargo.lock
  Cargo.nix
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

remove unused error variant
  rust/operator-binary/src/connect/controller.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

remove iceberg test script
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
Due: none

Apply suggestions from code review
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

regenerate charts
  deploy/helm/spark-k8s-operator/crds/crds.yaml
Due: none

change visibility
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/server.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix comment
  rust/operator-binary/src/connect/common.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat: add support for SparkConnect (#539)
  CHANGELOG.md
  crate-hashes.json
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  deploy/helm/spark-k8s-operator/templates/roles.yaml
  docs/modules/spark-k8s/examples/example-spark-connect.yaml
  docs/modules/spark-k8s/pages/usage-guide/spark-connect.adoc
  docs/modules/spark-k8s/partials/nav.adoc
  rust/operator-binary/src/connect/common.rs
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/executor.rs
  rust/operator-binary/src/connect/mod.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/constants.rs
  rust/operator-binary/src/crd/mod.rs
  rust/operator-binary/src/main.rs
  tests/templates/kuttl/spark-connect/00-assert.yaml
  tests/templates/kuttl/spark-connect/00-patch-ns.yaml.j2
  tests/templates/kuttl/spark-connect/00-serviceaccount.yaml.j2
  tests/templates/kuttl/spark-connect/01-assert.yaml.j2
  tests/templates/kuttl/spark-connect/01-install-vector-aggregator-discovery-configmap.yaml.j2
  tests/templates/kuttl/spark-connect/10-assert.yaml
  tests/templates/kuttl/spark-connect/10-deploy-spark-connect.yaml.j2
  tests/templates/kuttl/spark-connect/20-assert.yaml
  tests/templates/kuttl/spark-connect/20-run-connect-client.yaml.j2
  tests/test-definition.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix: increase assert timeout
  tests/templates/kuttl/spark-connect/10-assert.yaml
Due: none

fix: increase assert timeout (#555)
  tests/templates/kuttl/spark-connect/10-assert.yaml
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@1ba8fc47936906417722c9f3e2adeb5f77f3845d
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  nix/README.md
Due: none

chore(helm): Add default telemetry values
  deploy/helm/spark-k8s-operator/values.yaml
Due: none

chore(helm): Disable fileLog by default, set maxFiles to 6
  deploy/helm/spark-k8s-operator/values.yaml
Due: none

chore: Add telemetry support for Helm (#556)
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
  deploy/helm/spark-k8s-operator/templates/deployment.yaml
  deploy/helm/spark-k8s-operator/values.yaml
  nix/README.md
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@4a829c71bd7f51644a2086214e2c9f16ef533fd7
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
Due: none

chore: Generated commit to update templated files since the last template run up to stackabletech/operator-templating@4a829c71bd7f51644a2086214e2c9f16ef533fd7 (#557)
  deploy/helm/spark-k8s-operator/templates/_telemetry.tpl
Due: none

wip
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  rust/operator-binary/src/crd/logdir.rs
  tests/templates/kuttl/spark-connect/00-secrets.yaml.j2
  tests/templates/kuttl/spark-connect/03-assert.yaml
  tests/templates/kuttl/spark-connect/03-minio.yaml
  tests/templates/kuttl/spark-connect/05-assert.yaml
  tests/templates/kuttl/spark-connect/05-history-server.yaml.j2
  tests/templates/kuttl/spark-connect/10-connect-server.yaml.j2
  tests/templates/kuttl/spark-connect/20-connect-client.yaml.j2
  tests/templates/kuttl/spark-connect/helm-minio-values.yaml.j2
  tests/test-definition.yaml
Due: cargo-test, cargo-rustfmt, cargo-clippy

run pre-commit --all
  apps/ny_tlc_report.py
  deploy/helm/spark-k8s-operator/crds/crds.yaml
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/logging/test_log_aggregation.py
  tests/templates/kuttl/pyspark-ny-public-s3/ny_tlc_report.py
  tests/templates/kuttl/spark-connect/00-secrets.yaml.j2
  tests/templates/kuttl/spark-connect/03-assert.yaml
  tests/templates/kuttl/spark-connect/03-minio.yaml
  tests/templates/kuttl/spark-connect/05-assert.yaml
  tests/templates/kuttl/spark-connect/helm-minio-values.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy

configure history props (test fails)
  rust/operator-binary/src/connect/controller.rs
  rust/operator-binary/src/connect/crd.rs
  rust/operator-binary/src/connect/server.rs
  tests/templates/kuttl/spark-connect/10-connect-server.yaml.j2
Due: cargo-test, cargo-rustfmt, cargo-clippy
